:root {
  --rojoIntenso:#EB2121;
  --blancoGrafito:#F6F6F6;
}
*{font-family: poppins;}
a{text-decoration: none;}
.csc{display: flex; justify-content: center; align-items: flex-start; flex-direction: column;}
.es{display: flex; justify-content: flex-end; align-items: flex-start;}
.ecc{display: flex; justify-content: center; align-items: flex-end; flex-direction: column;}
.cc{display: flex; justify-content: center; align-items: center;}
.ec{display: flex; justify-content: flex-end; align-items: center;}
.ce{display: flex; justify-content: center; align-items: flex-end;}
.sc{display: flex; justify-content: flex-start; align-items: center; }
.ac{display: flex; justify-content: space-around; align-items: center; }
.bc{display: flex; justify-content: space-between; align-items: center; }
.ecc{display: flex; justify-content: flex-end; align-items: center; flex-direction: column;}
.ccc{display: flex; justify-content: center; align-items: center; flex-direction: column;}
.scc{display: flex; justify-content: flex-start; align-items: center; flex-direction: column;}
.ssc{display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column;}
.csc{display: flex; justify-content: center; align-items: flex-start; flex-direction: column;}
.eee{display: flex; justify-content: center; align-items: flex-end; flex-direction: column;}
.ccw{display: flex; justify-content: center; align-items: center; flex-wrap: wrap; overflow-x: hidden; overflow-y: auto; align-content: center;}
/************************/
.menu-lateral-izquierdo{
  width: 20%; height: 100vh;
  background: yellow;
}
.downloadLink{
  width: 100%;
  margin-top: 10px; font-size: 14px;}
.panel-derecho
{
  width: 95%; height:100vh;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 2.5%;
}
  .cabecera-panel-derecho
  {
    width: 90%; height: 17vh;
  }
  .nombre-cabecera{
    width: 60%; height: 100%;
    font-weight: 700;
    font-size: 25px;
  }

.margin15{margin-left: 15px;}

.buttonRed{
  background: var(--rojoIntenso) !important;
  color: white !important;
}

