<!--<!DOCTYPE html>-->
<html lang="es">
  <head>
  <script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js"></script>
  <script> 
    //const serverName = "http://localhost/marketPleaseApi/";
    const serverName = "https://ttrae.com.mx/marketapi/"; 
    const firebaseConfig = {
      apiKey: "AIzaSyCGF0Hr3Q2umDlaGJG6E7JUod_QhwJIqTY",
      authDomain: "marketplease-9da03.firebaseapp.com",
      projectId: "marketplease-9da03",
      storageBucket: "marketplease-9da03.appspot.com",
      messagingSenderId: "267607118249",
      appId: "1:267607118249:web:286bd4647a70efb9d3f4b8",
      measurementId: "G-QVYTZC7X6S"
    };
    firebase.initializeApp(firebaseConfig);
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    
   <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>general.css">

   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="menu.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--GOOGLE PLACES API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOg8fcqKsxEsS3nbcTp32BUFbh8mVkgUE=&libraries=places&callback=initialize"
    async defer></script>
    

    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>owl.theme.default.min.css">
    <script 
    type="text/javascript"
    src="<%= BASE_URL %>owl.carousel.min.js">
    </script>
    <script src="https://kit.fontawesome.com/281c289dc4.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">

    <!--CHARTS-->
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script type="text/javascript">

       google.charts.load('current', {'packages':['corechart']});
       google.charts.setOnLoadCallback(drawChart);
      
    </script>

    
    <title>T-trae</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
<style type="text/css"> 
.alertSw
{
  position: fixed;
  top: 10vh; right: 15px;
}
</style>


    


  </body>
</html>
