<template>
  <div class="home">
    <BarraNavegacionAdmin />
    <MisAdministradores/>
  </div>
</template>

<script>

import BarraNavegacionAdmin from '@/components/BarraNavegacionAdmin.vue'
import MisAdministradores from '@/components/MisAdministradores.vue'





export default {
  name: 'Home',
  components: {
    BarraNavegacionAdmin,
    MisAdministradores,
  }
}
</script>
