<template>
  <div class="home">
    <BarraNavegacionAdmin />
    <cabezaInternaProveedores nombre_cabecera="Gestión de pedidos"/>
    <adminOrdersTable />
  </div>
</template>

<script>

import BarraNavegacionAdmin from '@/components/BarraNavegacionAdmin.vue'
import cabezaInternaProveedores from '@/components/cabezaInternaProveedores.vue'
import adminOrdersTable from '@/components/adminOrdersTable.vue'




export default {
  name: 'Home',
  components: {
    BarraNavegacionAdmin,
    cabezaInternaProveedores,
    adminOrdersTable
 
  }
}
</script>
