<template>
  <div class="home bc">
    <LoginAdmin />
    <LateralFormLogin />

  </div>
</template>

<script>

import LoginAdmin from '@/components/LoginAdmin.vue';
import LateralFormLogin from '@/components/LateralFormLogin.vue';



export default {
  name: 'Admin login',
  components: {
    LoginAdmin,
    LateralFormLogin
  }
}
</script>
