<template>
  <div class="home">
    <BarraNavegacionAdmin />
    <cabezaInternaProveedores nombre_cabecera="Editar  repartidor"/>
    <adminDeliveryEdit />
  </div>
</template>

<script>

import BarraNavegacionAdmin from '@/components/BarraNavegacionAdmin.vue'
import cabezaInternaProveedores from '@/components/cabezaInternaProveedores.vue'
import adminDeliveryEdit from '@/components/adminDeliveryEdit.vue'




export default {
  name: 'Home',
  components: {
    BarraNavegacionAdmin,
    cabezaInternaProveedores,
    adminDeliveryEdit
 
  }
}
</script>
