<template>
  <div class="home">
    <BarraNavegacionAdmin />
    <listaRepartidores/>
  </div>
</template>

<script>

import BarraNavegacionAdmin from '@/components/BarraNavegacionAdmin.vue'
import listaRepartidores from '@/components/listaRepartidores.vue'





export default {
  name: 'Home',
  components: {
    BarraNavegacionAdmin,
    listaRepartidores,
  }
}
</script>
