<template>
  <div class="home">
    <BarraNavegacionAdmin />
    <cabezaInternaProveedores nombre_cabecera="Editar  administrador"/>
    <adminAdminEdit />
  </div>
</template>

<script>

import BarraNavegacionAdmin from '@/components/BarraNavegacionAdmin.vue'
import cabezaInternaProveedores from '@/components/cabezaInternaProveedores.vue'
import adminAdminEdit from '@/components/adminAdminEdit.vue'




export default {
  name: 'Home',
  components: {
    BarraNavegacionAdmin,
    cabezaInternaProveedores,
    adminAdminEdit
 
  }
}
</script>
