<template>
  <div class="home">
    <BarraNavegacionAdmin />
    <cabezaInternaProveedores nombre_cabecera="Historial de ventas"/>
    <adminHistoryTable />
  </div>
</template>

<script>

import BarraNavegacionAdmin from '@/components/BarraNavegacionAdmin.vue'
import cabezaInternaProveedores from '@/components/cabezaInternaProveedores.vue'
import adminHistoryTable from '@/components/adminHistoryTable.vue'




export default {
  name: 'Home',
  components: {
    BarraNavegacionAdmin,
    cabezaInternaProveedores,
    adminHistoryTable
 
  }
}
</script>
