<template>
  <div class="home">
    <BarraNavegacionAdmin />
    <cabezaInternaProveedores nombre_cabecera="Editar comercio"/>
    <adminEditProvider />
  </div>
</template>

<script>

import BarraNavegacionAdmin from '@/components/BarraNavegacionAdmin.vue'
import cabezaInternaProveedores from '@/components/cabezaInternaProveedores.vue'
import adminEditProvider from '@/components/adminEditProvider.vue'




export default {
  name: 'Home',
  components: {
    BarraNavegacionAdmin,
    cabezaInternaProveedores,
    adminEditProvider
 
  }
}
</script>
