<template>
  <div class="home bc">
    <auth />

  </div>
</template>

<script>

import auth from '@/components/auth.vue';



export default {
  name: 'Home',
  components: {
    auth
  }
}
</script>
