<template>
  <div class="home">
    <BarraNavegacion />
    <cabezaInternaProveedores nombre_cabecera="Panel de pedidos"/>
    <ProductDetail />
  </div>
</template>

<script>

import BarraNavegacion from '@/components/BarraNavegacion.vue'
import cabezaInternaProveedores from '@/components/cabezaInternaProveedores.vue'
import ProductDetail from '@/components/ProductDetail.vue'




export default {
  name: 'Home',
  components: {
    BarraNavegacion,
    cabezaInternaProveedores,
    ProductDetail
 
  }
}
</script>
