<template>
  <div class="home">
    <BarraNavegacion />
    <MisProductos/>
  </div>
</template>

<script>

import BarraNavegacion from '@/components/BarraNavegacion.vue'
import MisProductos from '@/components/MisProductos.vue'





export default {
  name: 'Home',
  components: {
    BarraNavegacion,
    MisProductos,
  }
}
</script>
