<template>
  <div class="home">
    <BarraNavegacionAdmin />
    <BarraPrincipalAdmin/>
    <MisProductosAdmin/>
  </div>
</template>

<script>

import BarraNavegacionAdmin from '@/components/BarraNavegacionAdmin.vue'
import BarraPrincipalAdmin from '@/components/BarraPrincipalAdmin.vue'
import MisProductosAdmin from '@/components/MisProductosAdmin.vue'





export default {
  name: 'Home',
  components: {
    BarraNavegacionAdmin,
    BarraPrincipalAdmin,
    MisProductosAdmin,
  }
}
</script>
