<template>
  <div class="home">
    <BarraNavegacion />
    <cabezaInternaComercios nombre_cabecera="Panel de pedidos"/>
    <UserOrdersActive />
  </div>
</template>

<script>

import BarraNavegacion from '@/components/BarraNavegacion.vue'
import cabezaInternaComercios from '@/components/cabezaInternaComercios.vue'
import UserOrdersActive from '@/components/UserOrdersActive.vue'




export default {
  name: 'Home',
  components: {
    BarraNavegacion,
    cabezaInternaComercios,
    UserOrdersActive
 
  }
}
</script>
