<template>
  <div class="home bc">
    <SignupUsers />
    <LateralFormProv />

  </div>
</template>

<script>

import SignupUsers from '@/components/SignupUsers.vue';
import LateralFormProv from '@/components/LateralFormProv.vue';



export default {
  name: 'Home',
  components: {
    SignupUsers,
    LateralFormProv
  }
}
</script>
