<template>
  <div class="home bc">
    <LoginProviders />
    <LateralFormLoginProv />

  </div>
</template>

<script>

import LoginProviders from '@/components/LoginProviders.vue';
import LateralFormLoginProv from '@/components/LateralFormLoginProv.vue';



export default {
  name: 'Home',
  components: {
    LoginProviders,
    LateralFormLoginProv
  }
}
</script>
