<template>
  <div class="home">
    <BarraNavegacion />
    <cabezaInternaComercios nombre_cabecera="Mis pagos"/>
    <providersPaymentsHistory />
  </div>
</template>

<script>

import BarraNavegacion from '@/components/BarraNavegacion.vue'
import cabezaInternaComercios from '@/components/cabezaInternaComercios.vue'
import providersPaymentsHistory from '@/components/providersPaymentsHistory.vue'




export default {
  name: 'Home',
  components: {
    BarraNavegacion,
    cabezaInternaComercios,
    providersPaymentsHistory
 
  }
}
</script>
