<template>
  <div class="home">
    <documentacion />
  </div>
</template>

<script>

import documentacion from '@/components/documentacion.vue'



export default {
  name: 'Home',
  components: {
    documentacion
 
  }
}
</script>
