<template>
  <div class="home">
    <subscription />
  </div>
</template>

<script>

import subscription from '@/components/subscription.vue'



export default {
  name: 'Home',
  components: {
    subscription
 
  }
}
</script>
