<template>
  <div class="home">
    <BarraNavegacion />
    <cabezaInternaComercios nombre_cabecera="Añadir producto"/>
    <newProductProvider />
  </div>
</template>

<script>

import BarraNavegacion from '@/components/BarraNavegacion.vue'
import cabezaInternaComercios from '@/components/cabezaInternaComercios.vue'
import newProductProvider from '@/components/newProductProvider.vue'




export default {
  name: 'Home',
  components: {
    BarraNavegacion,
    cabezaInternaComercios,
    newProductProvider
 
  }
}
</script>
