<template>
  <div class="home">
    <BarraNavegacion />
    <cabezaInternaComercios nombre_cabecera="Editar producto"/>
    <editProductProvider />
  </div>
</template>

<script>

import BarraNavegacion from '@/components/BarraNavegacion.vue'
import cabezaInternaComercios from '@/components/cabezaInternaComercios.vue'
import editProductProvider from '@/components/editProductProvider.vue'




export default {
  name: 'Home',
  components: {
    BarraNavegacion,
    cabezaInternaComercios,
    editProductProvider
 
  }
}
</script>
