<template>
  <div class="home">
    <BarraNavegacion />
    <cabezaInternaComercios nombre_cabecera="Historial de ventas"/>
    <providersHistoryTable />
  </div>
</template>

<script>

import BarraNavegacion from '@/components/BarraNavegacion.vue'
import cabezaInternaComercios from '@/components/cabezaInternaComercios.vue'
import providersHistoryTable from '@/components/providersHistoryTable.vue'




export default {
  name: 'Home',
  components: {
    BarraNavegacion,
    cabezaInternaComercios,
    providersHistoryTable
 
  }
}
</script>
