<template>
  <div class="home bc">
    <recoveryProviders />
    <LateralFormLoginProv />

  </div>
</template>

<script>

import recoveryProviders from '@/components/recoveryProviders.vue';
import LateralFormLoginProv from '@/components/LateralFormLoginProv.vue';



export default {
  name: 'Home',
  components: {
    recoveryProviders,
    LateralFormLoginProv
  }
}
</script>
