<template>
  <div class="home bc">
    <resetPassword />
    <LateralFormLoginProv />

  </div>
</template>

<script>

import resetPassword from '@/components/resetPassword.vue';
import LateralFormLoginProv from '@/components/LateralFormLoginProv.vue';



export default {
  name: 'Home',
  components: {
    resetPassword,
    LateralFormLoginProv
  }
}
</script>
