<template>
<div class="contenedorPrincipalInterno cc">
	<div class="contPrinIntSnTab">

		<v-card-title style="width: 95%;margin-left: 2.5%;">
      Ventas totales $ {{ ganancias }} MXN
      <v-spacer></v-spacer>
      <v-text-field
      	outlined
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar..."
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
    	style="width: 95%;margin-left: 2.5%;"
      :headers="headers"
      :items="desserts"
      :search="search"
    ></v-data-table>
<!---->
    <div class="chartsFhContaine bc">
      <div class="chartContainer sc">



        <v-card-title style="width: 100%; height: 10%;">
          Estadisticas de ventas historicas
        </v-card-title>




        <div class="optionAdminFh">
          <v-radio-group
            v-model="daysChart"
            @change="cambiarGrafica(daysChart)"
            row
          >
            <v-radio
              label="7 Días"
              value="7"
            ></v-radio>
            <v-radio
              label="15 Días"
              value="15"
            ></v-radio>
            <v-radio
              label="30 Días"
              value="30"
            ></v-radio>
            <v-radio
              label="3 Meses"
              value="3 meses"
            ></v-radio>
            <v-radio
              label="6 Meses"
              value="6 meses"
            ></v-radio>
            <v-radio
              label="12 Meses"
              value="12 meses"
            ></v-radio>
          </v-radio-group>
        </div>



        <canvas id="myChart" style="width: 100%;height: 400px;"></canvas>
      </div>
    </div>
<!---->
	</div>
	<div class="finalDiv"></div>
</div>
</template>
<script>
import router from '../router/index.js'
export default {
name: 'AdminHistorySales',
	data: () => ({
    daysChart:null,
    ganancias:null,
		search: '',
        headers: [
          {
            text: 'Establecimiento',
            align: 'start',
            sortable: false,
            value: 'comercio',
          },
          { text: 'Fecha', value: 'fecha' },
          { text: 'hora', value: 'hora' },
          { text: 'Repartidor', value: 'repartidor' },
          { text: 'Cliente', value: 'cliente' },
          { text: 'Monto', value: 'total' },
          { text: 'Comision', value: 'comision' },
          { text: 'Tipo de membresia', value: 'membresia' },
        ],
        desserts: [

          {
            comercio: 'KitKat',
            fecha: 518,
            hora: 26.0,
            repartidor: 65,
            cliente: 7,
            total: '6%',
            comision: '6%',
            membresia:''
          },

        ],
	}),


	mounted(){
		var vm = this;
		const token = localStorage.getItem('tokenAdmin');
    //alert(token)

    //OBTENER JSON DEL SERVIDOR
    var jsonData = $.ajax({
          url:''+serverName+''+'/admin/estadisticas.php?token='+token+'&days=7',
          dataType: "json",
          async: false
    }).responseText;
    //GUARDAR LOS DATOSEN UN ENTORNO LEGUBLE PARA CHART.JS
    var parseJson = JSON.parse(jsonData);
    var jsonfile = {
       "jsonarray": parseJson
    };
    //ORGANIZAR LOS DIAS Y LAS GANANCIAS
    var labels = jsonfile.jsonarray.map(function(e) {
      return e.DiaReporte;
    });
    var data = jsonfile.jsonarray.map(function(e) {
       return e.Ganancias;
    });

    //CREAR GRAFICA DE GANANCIAS
    var ctx = document.getElementById('myChart').getContext('2d');
    var config = {
       type: 'line',
       data: {
          labels: labels,
          datasets: [
            {
               label: 'Ingresos del día (MXN)',
               data: data,
               backgroundColor: 'rgba(0, 0, 0, 0.07)',
               borderColor:'rgba(0, 0, 0, 0.65)',
            }
          ]
       },
       options:{
        legend: {
            display: false
        },
       }
    };
/**/

  var chart = new Chart(ctx, config);




    /*************************/
		
		axios
      .get(''+serverName+''+'/admin/salesReport.php?token='+token)
      .then(response => {
      	this.desserts = response.data;
      })

    axios
      .get(''+serverName+''+'/admin/ganancias.php?token='+token)
      .then(response => {
        //console.log(response.data)
        this.ganancias = response.data[0].ganancias;
      })

	},

	methods : {
		
		cambiarGrafica(variable)
    {
      $('#myChart').remove();
      $('.chartContainer').append('<canvas id="myChart" style="width: 100%;height: 400px;"></canvas>');


      var vm = this;
      const token = localStorage.getItem('tokenAdmin');

      //OBTENER JSON DEL SERVIDOR
      var jsonData = $.ajax({
            url:''+serverName+''+'/admin/estadisticas.php?token='+token+'&days='+variable,
            dataType: "json",
            async: false
      }).responseText;
      //GUARDAR LOS DATOSEN UN ENTORNO LEGUBLE PARA CHART.JS
      var parseJson = JSON.parse(jsonData);
      var jsonfile = {
         "jsonarray": parseJson
      };
      //ORGANIZAR LOS DIAS Y LAS GANANCIAS
      var labels = jsonfile.jsonarray.map(function(e) {
        return e.DiaReporte;
      });
      var data = jsonfile.jsonarray.map(function(e) {
         return e.Ganancias;
      });

      //CREAR GRAFICA DE GANANCIAS
      var ctx = document.getElementById('myChart').getContext('2d');
      var config = {
         type: 'line',
         data: {
            labels: labels,
            datasets: [
              {
                 label: 'Ingresos del día (MXN)',
                 data: data,
                 backgroundColor: 'rgba(0, 0, 0, 0.07)',
                 borderColor:'rgba(0, 0, 0, 0.65)',
              }
            ]
         },
         options:{
          legend: {
              display: false
          },
         }
      };
  /**/
    var chart = new Chart(ctx, config);
    }

	}


}
</script>
<style>
.contenedorPrincipalInterno{
	width: 100%; height: auto;
	margin-top: -25px;
	z-index: 1000;
	position: absolute;top: 40vh;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.contPrinIntSnTab{
		width: 90%; height: auto;
		background: white;
		box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
		border-radius: 15px;
		overflow: hidden;
	}

		



/*CHARTS*/
  .chartsFhContaine{
    width: 95%; height: auto;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 2.5%;
  }
    .chartContainer
    {
      width: 100%; height: 600px;
      flex-wrap: wrap;margin-top: 25px;
      align-content: flex-start;
      align-items: flex-start;
    }
    .optionAdminFh{
      width: 95%; height: 50px;
      margin-left: 2.5%;
      margin-bottom: 25px;
    }
  

	.finalDiv{
		width: 100%; height: 5vh;
	}
	
</style>