<template>
<div class="contenedorPrincipalInterno cc">
	<div class="contPrinIntSnTab">

		<v-card-title style="width: 95%;margin-left: 2.5%;">
      Lista de ordenes activas en este momento
      <v-spacer></v-spacer>
      <v-text-field
      	outlined
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
    	style="width: 95%;margin-left: 2.5%;"
      :headers="headers"
      :items="desserts"
      :search="search"
    >
    <!--DESCRIPCIÓN DEL PEDIDO-->
      <template #item.descripcion="{ value }">
        <span v-html="value"></span>
      </template>

    <!--DESCRIPCIÓN DEL PEDIDO
      <template #item.repartidor="{ value }">
        <a class="linkTable" :href="value">
          Ver perfil
        </a>
      </template>
    -->

    </v-data-table>

	</div>
	<div class="finalDiv"></div>
</div>
</template>
<script>
import router from '../router/index.js'
export default {
name: 'AdminHistorySales',
	data: () => ({
		search: '',
        headers: [
          {
            text: 'Establecimiento',
            align: 'start',
            sortable: false,
            value: 'comercio',
          },
          { text: 'Descripción', value: 'descripcion' },
          { text: 'Repartidor', value: 'repartidor' },
          { text: 'Cliente', value: 'cliente' },
          { text: 'Telefono del cliente', value: 'telClient' },
          { text: 'Monto', value: 'total' },
          { text: 'Estado', value: 'status' },
        ],
        desserts: [

          {
            comercio: 'KitKat',
            descripcion: 518,
            repartidor: 65,
            cliente: 7,
            telClient: 7,
            total: '6%',
            status: '6%'
          },

        ],
	}),


	mounted(){
		var vm = this;
		const token = localStorage.getItem('tokenAdmin');


    /*************************/
		
		axios
      .get(''+serverName+''+'/admin/activeOrders.php?token='+token)
      .then(response => {
      	this.desserts = response.data;
      })


	},

	methods : {
		
		

	}


}
</script>
<style>
.contenedorPrincipalInterno{
	width: 100%; height: auto;
	margin-top: -25px;
	z-index: 1000;
	position: absolute;top: 40vh;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.contPrinIntSnTab{
		width: 90%; height: auto;
		background: white;
		box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
		border-radius: 15px;
		overflow: hidden;
	}

		



/*CHARTS*/
  .chartsFhContaine{
    width: 95%; height: auto;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 2.5%;
  }
    .chartContainer
    {
      width: 100%; height: 500px;
      flex-wrap: wrap;margin-top: 25px;
      align-content: flex-start;
      align-items: flex-start;
    }
  

	.finalDiv{
		width: 100%; height: 5vh;
	}
	
</style>