<template>
<div class="contenedorPrincipalInterno cc">
	<!--ALERTAS-->
	<v-alert
    :value="alert"
    class="alertSw"
    type="success"
    color="black"
    :transition="alertTransition"
    >
      Administrador registrado correctamente
  </v-alert>
  <v-alert
    :value="alertError "
    class="alertSw"
    type="error"
    :transition="alertTransition"
    >
      Ha ocurrido un error, por favor verifica tus datos. <br>
      Asegurate de que el correo no haya sido registrado anteriormente
  </v-alert>
  <!--ALERTAS-->


	<div class="contPrinIntSnAdmin cc">
		<!-- INGRESAR INFORMACION-->
		<v-form

			@submit.prevent="nothing()"
			method="get"
			ref="form"
	    v-model="valid"
	    lazy-validation

		 class="infoInputsContAdmin bc">


			<h1 class="titAddProd">
				Información del administrador
			</h1>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="name"
				outlined
        label="Nombre"
      	></v-text-field>
			</div>




			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="mail"
				outlined
        label="Correo electronico"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="password"
				outlined
				type="password"
        label="Contraseña"
      	></v-text-field>
			</div>

			




			<!--SEND-->
			<div class="submitContInterno sc">
				<v-btn @click="send()" class="submitBtnInternoAdm" large >
					Registrar administrador
				</v-btn>
			</div>
			<div class="finalDivInterno"></div>

		</v-form>
	</div>
	<div class="finalDiv"></div>
</div>
</template>
<script>
import router from '../router/index.js'
export default {
name: 'Crear-repartidor',
	data: () => ({
		
		//VALIDATIONS
		valid:true,
		stringRules: [
      v => !!v || 'Este dato es requerido',
    ],

		//ALERTS
		alertError:false,
		alert:false,
		alertTransition:'scroll-x-reverse-transition',

		//FORM
		name:null,
		last_name:null,
		tel:null,
		mail:null,
		password:null,
		image:null,


		categorias: 
      	[
      		'Salud', 
      		'Alimentos', 
      		'Belleza', 
      		'Ropa y calzado',
      		'Productos para el hogar',
      		'Educación',
      		'Diversión y entretenimiento',
      		'Servicios'
      	],
	}),
	methods : {
		nothing (){
			return null;
		},
		send(){
			this.$refs.form.validate()
			//GUARDAR DATOS
			var vm = this;
			const token = localStorage.getItem('tokenAdmin');

			const name = this.name;
			const last_name = this.last_name;
			const tel = this.tel;
			const mail = this.mail;
			const password = this.password;
			const image = this.image;

			const packagePost = new FormData();

			packagePost.append('token',token);

      packagePost.append('name',name);
      packagePost.append('last_name',last_name);
      packagePost.append('tel',tel);
      packagePost.append('mail',mail);
      packagePost.append('password',password);
      packagePost.append('image',image);

      //ENVIAR PACKETE POR POST
    		$.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/admin/registrarAdmin.php', 
          type:  'post', 
	          contentType: false,
	          processData: false,

          success:  function (res) {
          	//alert(res)
          	if(res=="Ok")
          	{
          		vm.alert=true;
              setTimeout(function(){ 
                vm.alert=false; 
              }, 2000);
          	}
          	else
          	{
          		vm.alertError=true;
              setTimeout(function(){ 
                vm.alertError=false; 
              }, 4000);
          	}
          }

    		})



		}
	}
}
</script>
<style>
.contenedorPrincipalInterno{
	width: 100%; height: auto;
	margin-top: -25px;
	z-index: 1000;
	position: absolute;top: 40vh;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.contPrinIntSnAdmin{
		width: 90%; height: auto;
		background: white;
		box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
		border-radius: 15px;
		overflow: hidden;
		align-content: flex-start;
		align-items: flex-start;
	}


		.infoInputsContAdmin{
			width: 95%; height: 100%;
			flex-wrap: wrap;
			align-content: flex-start;
			align-items: flex-start;
		}
			.titAddProd{
				width: 100%; height: auto;
				font-size: 20px;
				margin-bottom: 1vh;
				margin-top: 5vh;
			}

			.formInputFull{width: 100%; height: auto;}
			.formInputAdd34Admin{width: 32%; height: auto;}
			.formInputAdd14Admin{width: 40%; height: auto;}
			.topMargInp{margin-top: 2vh;}


			.submitContInterno{
				width: 100%; height: 60px;
			}


				.submitBtnInternoAdm{
					width: 32% !important; 
					height: 60px !important;
					background: black !important;
					color: white !important;
				}

	.finalDivInterno{
		width: 100%; height: 5vh;
	}
	.finalDiv{
		width: 100%; height: 5vh;
	}
@media(max-width: 900px)
{
	.formInputAdd34Admin{width: 100%;}
	.submitBtnInternoAdm{width: 100% !important;}
}
</style>