<template>
<div class="contenedorPrincipalInterno cc">
	<!--ALERTAS-->
	<v-alert
    :value="alert"
    class="alertSw"
    type="success"
    color="black"
    :transition="alertTransition"
    >
      Datos actualizados correctamente
  </v-alert>
  <v-alert
    :value="alertError "
    class="alertSw"
    type="error"
    :transition="alertTransition"
    >
      Ha ocurrido un error, por favor verifica tus datos
  </v-alert>
  <!--ALERTAS-->


	<div class="contPrinIntSnAdmin cc">
		<!-- INGRESAR INFORMACION-->
		<div class="infoInputsContAdmin bc">


			<h1 class="titAddProd">
				Datos de contacto
			</h1>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				v-model="name"
				outlined
        label="Nombre"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				v-model="last_name"
				outlined
        label="Apellido"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				v-model="tel"
				outlined
        label="Telefono"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				v-model="mail"
				outlined
        label="Correo electronico"
      	></v-text-field>
			</div>
<!--
			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				outlined
        label="Contraseña de acceso"
      	></v-text-field>
			</div>
-->
			<div class="formInputAdd34Admin topMargInp">
			</div>
			<div class="formInputAdd34Admin topMargInp">
			</div>



			<h1 class="titAddProd">
				Información del establecimiento
			</h1>


			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				v-model="business_name"
				outlined
        label="Nombre del establecimiento"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-select
				outlined
				v-model="categoria"
				:items="categorias"
        label="Categoría del establecimiento"
      ></v-select>
			</div>

			

			<div class="formInputAdd34Admin topMargInp">
				<v-file-input
					v-model="business_logo"
					prepend-icon=""
				  truncate-length="15" outlined
				  label="Logo del establecimiento"
				></v-file-input>
			</div>


			
			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="timeOpen"
				outlined
        label="Horario de apertura"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="timeClose"
				outlined
        label="Horario de cierre"
      	></v-text-field>
			</div>
			
			<div class="formInputAdd34Admin topMargInp">
				<v-file-input
					v-model="business_picture"
					prepend-icon=""
				  truncate-length="15" outlined
				  label="Imagen  del establecimiento"
				></v-file-input>
			</div>
			<div class="formInputAdd34Admin topMargInp sc">
				<v-switch
					@change="changeSwitch($event)"
		      v-model="estadoComercio"
		      inset
		      :label="mensageEstado"
		    ></v-switch>
			</div>
			<div  class="formInputAdd34Admin topMargInp sc">
			</div>






			<!--SEND-->
			<div class="submitContInterno sc">
				<v-btn @click="send()" class="submitBtnInternoAdm" large >
					Actualizar negocio
				</v-btn>
			</div>
			<div class="finalDivInterno"></div>

		</div>
	</div>
	<div class="finalDiv"></div>
</div>
</template>
<script>
import router from '../router/index.js'
export default {
name: 'Crear-establecimiento',
	data: () => ({
		


		estadoComercio:false,
		mensageEstado:'Establecimiento bloqueado',
		//ALERTS
		alertError:false,
		alert:false,
		alertTransition:'scroll-x-reverse-transition',

		//FORM
		name:null,
		last_name:null,
		tel:null,
		mail:null,
		timeOpen:null,
		timeClose:null,
		password:null,
		business_name:null,
		business_logo:null,
		business_picture:null,
		business_address:null,
		categoria:null,
		categorias: 
      	[
      		'Salud', 
      		'Alimentos', 
      		'Belleza', 
      		'Ropa y calzado',
      		'Productos para el hogar',
      		'Educación',
      		'Diversión y entretenimiento',
      		'Servicios'
      	],
	}),
	methods : {	
		//ACTIVA O DESCATIVA EL SWITCH
		changeSwitch(e){
			var vm = this;
			if(e==true){
				vm.mensageEstado = "Establecimiento operando";
			}
			else{
				vm.mensageEstado = 'Establecimiento bloqueado';
			}
		},
		send(){
			//GUARDAR DATOS
			var vm = this;
			const token = localStorage.getItem('tokenAdmin');
			const idShop = this.$route.params.id;

			const estadoComercio = this.estadoComercio;
			const name = this.name;
			const last_name = this.last_name;
			const tel = this.tel;
			const mail = this.mail;
			const password = this.password;
			const business_name = this.business_name;
			const categoria = this.categoria;
			const business_logo = this.business_logo;
			const business_picture = this.business_picture;
			const business_address = this.business_address;
			const timeOpen = this.timeOpen;
			const	timeClose = this.timeClose;

			const packagePost = new FormData();
			packagePost.append('token',token);
			packagePost.append('idShop',idShop);
			packagePost.append('name',name);
			packagePost.append('estadoComercio',estadoComercio);
      packagePost.append('last_name',last_name);
      packagePost.append('tel',tel);
      packagePost.append('mail',mail);
      //packagePost.append('password',password);
      packagePost.append('business_name',business_name);
      packagePost.append('categoria',categoria);

      packagePost.append('business_logo',business_logo);
      packagePost.append('business_picture',business_picture);
      packagePost.append('business_address',business_address);
      packagePost.append('timeOpen',timeOpen);
      packagePost.append('timeClose',timeClose);


      //ENVIAR PACKETE POR POST
    		$.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/admin/actualizarTienda.php', 
          type:  'post', 
	          contentType: false,
	          processData: false,

          success:  function (res) {
          	//alert(res)
          	if(res=="Ok")
          	{
          		vm.alert=true;
              setTimeout(function(){ 
                vm.alert=false; 
              }, 2000);
          	}
          	else
          	{
          		vm.alertError=true;
              setTimeout(function(){ 
                vm.alertError=false; 
              }, 2000);
          	}
          }

    		})



		}
	},
	mounted(){
		//CARGAR DATOS DEL REPARTIDOR
		var vm = this;
		const token = localStorage.getItem('tokenAdmin');
		const shopId = this.$route.params.id;

		axios
      .get(''+serverName+''+'/admin/shopDetails.php?token='+token+'&id='+shopId)
      .then(response => {

        vm.name = response.data[0].name;
				vm.last_name = response.data[0].last_name;
				vm.tel = response.data[0].tel;
				vm.mail = response.data[0].mail;
				vm.categoria = response.data[0].business_category;
				vm.business_name = response.data[0].business_name;
				vm.business_address = response.data[0].business_address;
				vm.mensageEstado = response.data[0].mensageEstado;
				vm.estadoComercio = response.data[0].estadoComercio;
				vm.timeOpen = response.data[0].timeOpen;
				vm.timeClose = response.data[0].timeClose;
      })
	}
}
</script>
<style>
.contenedorPrincipalInterno{
	width: 100%; height: auto;
	margin-top: -25px;
	z-index: 1000;
	position: absolute;top: 40vh;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.contPrinIntSnAdmin{
		width: 90%; height: auto;
		background: white;
		box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
		border-radius: 15px;
		overflow: hidden;
		align-content: flex-start;
		align-items: flex-start;
	}


		.infoInputsContAdmin{
			width: 95%; height: 100%;
			flex-wrap: wrap;
			align-content: flex-start;
			align-items: flex-start;
		}
			.titAddProd{
				width: 100%; height: auto;
				font-size: 20px;
				margin-bottom: 1vh;
				margin-top: 5vh;
			}

			.formInputFull{width: 100%; height: auto;}
			.formInputAdd34Admin{width: 32%; height: auto;}
			.formInputAdd14Admin{width: 40%; height: auto;}
			.topMargInp{margin-top: 2vh;}


			.submitContInterno{
				width: 100%; height: 60px;
			}


				.submitBtnInternoAdm{
					width: 32% !important; 
					height: 60px !important;
					background: black !important;
					color: white !important;
				}

	.finalDivInterno{
		width: 100%; height: 5vh;
	}
	.finalDiv{
		width: 100%; height: 5vh;
	}
@media(max-width: 900px)
{
	.formInputAdd34Admin{width: 100%;}
	.submitBtnInternoAdm{width: 100% !important;}
}
</style>