<template>
<div class="contenedorPrincipalInterno cc">
	<div class="contPrinIntSnTab">
    <!--REGISTRAR UN NUEVO PAGO
    <div class="newPayRegisterFh">
      <v-card-title style="">
        Registrar un nuevo pago
      </v-card-title>
      <div class="newPaymentFrFh bc">

        <div class="inputFormPayment">
          <v-text-field
            outlined
            label="Monto"
            single-line
          ></v-text-field>
        </div>


        <div class="inputFormPayment">
          <v-text-field
            outlined
            label="CLABE"
            single-line
          ></v-text-field>
        </div>


        <div class="inputFormPayment">
          <v-text-field
            outlined
            label="Correo del comercio"
            single-line
          ></v-text-field>
        </div>

        <div class="inputFormPayment" style="width: auto;">
          <v-btn
            large
            class="finishBtnLarge"
          >
            Registrar
          </v-btn>
        </div>




      </div>
    </div>
    -->


    <!--PAGOS REALIZADOS-->
		<v-card-title style="width: 95%;margin-left: 2.5%;">
      Pagos realizados a proveedores
      <v-spacer></v-spacer>
      <v-text-field
      	outlined
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar..."
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
    	style="width: 95%;margin-left: 2.5%;"
      :headers="headers"
      :items="desserts"
      :search="search"
    ></v-data-table>



    <!--PAGOS PENDIENTES-->
    <v-card-title style="width: 95%;margin-left: 2.5%;">
      Pagos pendientes a proveedores
      <v-spacer></v-spacer>
      
    </v-card-title>

    <v-data-table
      style="width: 95%;margin-left: 2.5%;"
      :headers="headers2"
      :items="desserts2"
      :search="search2"
    >
      

      <template #item.idPayment="{ value }">
        <v-switch
          @change="registrarPago(value)"
        ></v-switch>
      </template>
    </v-data-table>

	</div>
	<div class="finalDiv"></div>
</div>
</template>
<script>
import router from '../router/index.js'
export default {
name: 'AdminHistorySales',
	data: () => ({
    ganancias:null,
		search: '',
    search2:'',
    headers: [
      {
        text: 'Establecimiento',
        align: 'start',
        sortable: false,
        value: 'nameShop',
      },
      { text: 'Telefono', value: 'telShop' },
      { text: 'Monto pagado', value: 'payment' },
      { text: 'CLABE', value: 'clabe' },
      { text: 'Banco', value: 'bank' },
      { text: 'Día y hora', value: 'datePayment' },
      { text: 'Estado', value: 'statusPayment' },
    ],
    desserts: [
      {
        nameShop: 'KitKat',
        telShop: 518,
        payment: 518,
        clabe: 518,
        bank: 26.0,
        datePayment: 26.0,
        statusPayment: 65,
      },
    ],

    /*TABLA DE PAGOS PENDIENTES*/
    headers2: [
      {
        text: 'Establecimiento',
        align: 'start',
        sortable: false,
        value: 'nameShop',
      },
      { text: 'Telefono', value: 'telShop' },
      { text: 'Monto pendiente', value: 'payment' },
      { text: 'CLABE', value: 'clabe' },
      { text: 'Banco', value: 'bank' },
      { text: 'Estado', value: 'idPayment' },
    ],
    desserts2: [
      {
        nameShop: 'KitKat',
        telShop: 518,
        payment: 518,
        clabe: 518,
        bank: 26.0,
        datePayment: 26.0,
        idPayment: 65,
      },
    ],


	}),


	mounted(){
		var vm = this;
		const token = localStorage.getItem('tokenAdmin');






    /*************************/
		//PAGOS REALIZADOS
		axios
      .get(''+serverName+''+'/admin/historialDePagosProveedores.php?token='+token+'&type=providers&status=Finished')
      .then(response => {
      	this.desserts = response.data;
      })

    //PAGOS PENDIENTES
    axios
      .get(''+serverName+''+'/admin/historialDePagosProveedores.php?token='+token+'&type=providers&status=Pending')
      .then(response => {
        this.desserts2 = response.data;
      })



	},

	methods : {
		
		registrarPago(idPayment){
      const typePayment = 'providers';
      const token = localStorage.getItem('tokenAdmin');
      const packagePost = new FormData();
        packagePost.append('token',token);
        packagePost.append('idPayment',idPayment);
        packagePost.append('typePayment',typePayment);


      $.ajax({
          data:  packagePost, 
          url:   ''+serverName+''+'/admin/registrarPagoAdmin.php', 
          type:  'post', 
            contentType: false,
            processData: false,

          success:  function (res) {
            //alert(res)
            location.reload();
          }
      })

    }

	}


}
</script>
<style>
.contenedorPrincipalInterno{
	width: 100%; height: auto;
	margin-top: -25px;
	z-index: 1000;
	position: absolute;top: 40vh;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.contPrinIntSnTab{
		width: 90%; height: auto;
		background: white;
		box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
		border-radius: 15px;
		overflow: hidden;
	}

/*REGISTRAR UN NUEVO PAGO*/
.newPayRegisterFh{
  width: 95%; height: auto;
  margin-left: 2.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}
  .newPaymentFrFh
  {
    width: 100%; height: 100px;
  }
    .inputFormPayment{
      width: 28%; height: auto;
    }
      .finishBtnLarge
      {
        background: black !important;
        color: white !important;
        margin-top: -29px;
        height: 55px!important;
      }


/*CHARTS*/
  .chartsFhContaine{
    width: 95%; height: auto;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 2.5%;
  }
    .chartContainer
    {
      width: 100%; height: 500px;
      flex-wrap: wrap;margin-top: 25px;
      align-content: flex-start;
      align-items: flex-start;
    }
  

	.finalDiv{
		width: 100%; height: 5vh;
	}
	
</style>