<template>
<div class="contenedorPrincipalInterno cc">
	<!--ALERTAS-->
	<v-alert
    :value="alert"
    class="alertSw"
    type="success"
    color="black"
    :transition="alertTransition"
    >
      Comercio añadido correctamente
  </v-alert>
  <v-alert
    :value="alertError "
    class="alertSw"
    type="error"
    :transition="alertTransition"
    >
      Ha ocurrido un error, por favor verifica tus datos
  </v-alert>
  <!--ALERTAS-->


	<div class="contPrinIntSnAdmin cc">
		<!-- INGRESAR INFORMACION-->
		<v-form
			@submit.prevent="nothing()"
			method="get"
			ref="form"
	    v-model="valid"
	    lazy-validation
		 class="infoInputsContAdmin bc">


			<h1 class="titAddProd">
				Datos de contacto
			</h1>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="name"
				outlined
        label="Nombre"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="last_name"
				outlined
        label="Apellido"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				type="number"
				v-model="tel"
				outlined
        label="Telefono"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="mail"
				outlined
        label="Correo electronico"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="password"
				outlined
				type="password"
        label="Contraseña de acceso"
      	></v-text-field>
			</div>
			<div class="formInputAdd34Admin topMargInp">
			</div>



			<h1 class="titAddProd">
				Información del establecimiento
			</h1>


			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="business_name"
				outlined
        label="Nombre del establecimiento"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-select
				:rules="stringRules"
				required
				outlined
				v-model="categoria"
				:items="categorias"
        label="Categoría del establecimiento"
      ></v-select>
			</div>

			

			<div class="formInputAdd34Admin topMargInp">
				<v-file-input

				  v-model="business_logo"
					prepend-icon=""
				  truncate-length="15" outlined
				  label="Logo del establecimiento"
				></v-file-input>
			</div>


			<div class="formInputAdd34Admin topMargInp">
				<v-file-input
				  v-model="business_picture"
					prepend-icon=""
				  truncate-length="15" outlined
				  label="Imagen  del establecimiento"
				></v-file-input>
			</div>
			<div class="formInputAdd24Admin topMargInp">
				<v-text-field
					:rules="stringRules"
					required
				  v-model="business_address" outlined
				  label="Dirección del establecimiento"
				></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="timeOpen"
				outlined
        label="Horario de apertura"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="timeClose"
				outlined
        label="Horario de cierre"
      	></v-text-field>
			</div>
			<div class="formInputAdd34Admin topMargInp"></div>




			<!--SEND-->
			<div class="submitContInterno sc">

				

				<v-btn
				type="submit"
				 @click="send()" class="submitBtnInternoAdm" large >
					Registrar negocio
				</v-btn>

				<div class="progressCont sc">
					<v-progress-circular
						:size="30"
						:width="2"
			      indeterminate
			      color="primary"
			    ></v-progress-circular>

				</div>
			</div>
			<div class="finalDivInterno"></div>

		</v-form>
	</div>
	<div class="finalDiv"></div>
</div>
</template>
<script>
import router from '../router/index.js'
export default {
name: 'Crear-establecimiento',
	data: () => ({
		



		//ALERTS
		alertError:false,
		alert:false,
		alertTransition:'scroll-x-reverse-transition',

		//FORM
		name:null,
		last_name:null,
		tel:null,
		mail:null,
		timeOpen:null,
		timeClose:null,
		password:null,
		business_name:null,
		business_logo:null,
		business_picture:null,
		business_address:null,

		//VALIDATIONS
		valid:true,
		stringRules: [
      v => !!v || 'Este dato es requerido',
    ],

		categorias: 
      	[
      		'Salud', 
      		'Alimentos', 
      		'Belleza', 
      		'Ropa y calzado',
      		'Productos para el hogar',
      		'Educación',
      		'Diversión y entretenimiento',
      		'Servicios'
      	],
	}),
	methods : {	
		nothing (){
			return null;
		},
		send(){
			$('.progressCont').css('display','flex');
			this.$refs.form.validate()
			//GUARDAR DATOS
			var vm = this;
			const token = localStorage.getItem('tokenAdmin');
			
			const name = this.name;
			const last_name = this.last_name;
			const tel = this.tel;
			const mail = this.mail;
			const password = this.password;
			const business_name = this.business_name;
			const categoria = this.categoria;
			const business_logo = this.business_logo;
			const business_picture = this.business_picture;
			const business_address = this.business_address;
			const timeOpen = this.timeOpen;
			const	timeClose = this.timeClose;

			const packagePost = new FormData();
			packagePost.append('token',token);
			packagePost.append('name',name);
      packagePost.append('last_name',last_name);
      packagePost.append('tel',tel);
      packagePost.append('mail',mail);
      packagePost.append('password',password);
      packagePost.append('business_name',business_name);
      packagePost.append('categoria',categoria);

      packagePost.append('timeOpen',timeOpen);
      packagePost.append('timeClose',timeClose);


      packagePost.append('business_logo',business_logo);
      packagePost.append('business_picture',business_picture);
      packagePost.append('business_address',business_address);

      //ENVIAR PACKETE POR POST
    		$.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/admin/registrarNegocio.php', 
          type:  'post', 
	          contentType: false,
	          processData: false,

          success:  function (res) {
          	$('.progressCont').css('display','none');
          	if(res=="Ok")
          	{
          		vm.alert=true;
              setTimeout(function(){ 
                vm.alert=false; 
              }, 2000);
          	}
          	else
          	{
          		vm.alertError=true;
              setTimeout(function(){ 
                vm.alertError=false; 
              }, 2000);
          	}
          }

    		})


    	
		}
	}
}
</script>
<style>
.contenedorPrincipalInterno{
	width: 100%; height: auto;
	margin-top: -25px;
	z-index: 1000;
	position: absolute;top: 40vh;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.contPrinIntSnAdmin{
		width: 90%; height: auto;
		background: white;
		box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
		border-radius: 15px;
		overflow: hidden;
		align-content: flex-start;
		align-items: flex-start;
	}


		.infoInputsContAdmin{
			width: 95%; height: 100%;
			flex-wrap: wrap;
			align-content: flex-start;
			align-items: flex-start;
		}
			.titAddProd{
				width: 100%; height: auto;
				font-size: 20px;
				margin-bottom: 1vh;
				margin-top: 5vh;
			}

			.formInputFull{width: 100%; height: auto;}
			.formInputAdd34Admin{width: 32%; height: auto;}
			.formInputAdd24Admin{width: 66%; height: auto;}
			.topMargInp{margin-top: 2vh;}


			.submitContInterno{
				width: 100%; height: 60px;
			}


				.submitBtnInternoAdm{
					width: 32% !important; 
					height: 60px !important;
					background: black !important;
					color: white !important;
				}

	.finalDivInterno{
		width: 100%; height: 5vh;
	}
	.finalDiv{
		width: 100%; height: 5vh;
	}
	.alertSw{z-index: 100000;}

	.progressCont{
				margin-left: 15px; height: 60px;
				width: auto;display: none;
			}
@media(max-width: 900px)
{
	.formInputAdd34Admin{width: 100%;}
	.submitBtnInternoAdm{width: 100% !important;}
}
</style>