<template>
<div class="fullPageContent ccc">

	<v-alert
    :value="alertMessage"
    class="alertSw"
    :type="typeAlert"
    :transition="alertTransition"
    
    >
    {{ messageRes }}


    
  </v-alert>


	<div class="logoSignup">
		<img class='imageLogoDoc' src="@/assets/logo.png">
	</div>

	<h1 class="titleFullPage">
		Ayudanos a verificar que esta <br class="hideOnMovil">
		cuenta te pertenece
	</h1>

	<p class="parrFulPage">
		Te hemos enviado un código de 5 dígitos a tu correo electronico, te pedimos que lo ingreses para verificar que esta cuenta es tuya
	</p>

	<form 

	@submit.prevent="nothing()"
	method="get"
	ref="form"
	v-model="valid"
	lazy-validation

	class="formFullPage cc">


		<div class="formInputFullPage">
			<v-text-field
				:rules="stringRules"
				required
				v-model="auth_code"
				solo
        label="Ingresa el código"
      ></v-text-field>
		</div>






		<div class="submitContFullPage ec">
			<v-btn @click="send()" class="submitBtnFullPage" large depressed>
				Enviar
			</v-btn>
		</div>

		
	</form>
</div>
</template>

<script>
	import router from '../router/index.js' 
  export default {
  	//ALERTS
		
		

    data: () => ({
    	messageRes:null,
    	alertMessage:false,
    	typeAlert:'success',
    	alertTransition:'scroll-x-reverse-transition',
    	//VALIDATIONS
			valid:true,
			stringRules: [
	      v => !!v || '',
	    ],

    	show1: false,
      auth_code : null,
    }),

    methods: {
    	nothing (){
				return null;
			},
    	send(){
    		//this.$refs.form.validate()
    		const query = this.$route.params.id;
    		let userTypeVar = "";
    		if(query=='1')
    		{
    			userTypeVar = 'establecimientos';
    		}
    		else if(query=='2')
    		{
    			userTypeVar = 'users';
    		}
    		else if(query == '3')
    		{
    			userTypeVar = 'delivery';
    		}
    		else if(query == '4')
    		{
    			userTypeVar = 'admin';
    		}
    		//this.$refs.form.validate()
    		//GUARDAR DATOS
    		const vm = this;
				const auth_code = this.auth_code;
				//const token = localStorage.getItem('tokenProvider');
				//CREAR PAQUETE
				const packagePost = { 
          'auth_code':auth_code,
          'userType':userTypeVar,
        };

        //ENVIAR PACKETE POR POST
    		$.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/verificarCodigoOtp.php', 
          type:  'post',

          success:  function (res) {
          	try {
          		const jsonRes = JSON.parse(res);

							const token = jsonRes[0].token;
							const next_url = jsonRes[0].next_url;
							const userType = jsonRes[0].userType;

							if(userType =='establecimientos')
							{
								localStorage.setItem('tokenProvider',  token);
								router.push({ 
              		name: next_url
              	});
							}
							else if(userType=='users')
							{
								localStorage.setItem('tokenUser',  token);	
								location.href =next_url;
								//location.href ="https://marketplease.com.mx/users/main";
							}
							else if(userType=='delivery')
							{
								localStorage.setItem('tokenDelivery',  token);	
								location.href =next_url;
								//location.href ="https://marketplease.com.mx/delivery/home/";
							}
							else if(userType=='admin')
							{
								localStorage.setItem('tokenAdmin',  token);	
								location.href =next_url;
								//location.href ="https://marketplease.com.mx/delivery/home/";
							}

							




						} catch (error) {
							  vm.typeAlert = 'error';
							  vm.messageRes = res;
		          	vm.alertMessage=true;
		              setTimeout(function(){ 
		                vm.alertMessage=false; 
		              }, 5000);
						}
          	


          	
          }

    		})

    	}
    }
  }
</script>

<style>
.fullPageContent
{
	width: 100%; height: 100vh;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	position: relative;
}
	
	.imageLogoDoc{
		position: absolute;
		left: 15px; top: 15px;
		height: 20%;width: auto !important;
	}


	.titleFullPage{
		width: 90%; height: auto;
		text-align: center;
		font-size: 25px;
		margin-bottom: 2vh;
	}
	.parrFulPage{
		width: 47%; text-align: center !important;
	}
	.formFullPage{
		width: 300px; height: auto;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
	}
		.formInputMiddle{
			width: 49%; height: 60px;
		}
		.formInputFullPage{
			width: 100%; height: 60px;
		}
		.mTopFormLogin{margin-top: 2vh;}
		.submitContFullPage{
			width: 100%; height: 60px;
		}
			.submitBtnFullPage{
				width: 40% !important; 
				height: 45px !important;
				background: black !important;
				color: white !important;
			}
.alertSw{z-index: 100000;}
@media(max-width: 900px)
{
.loginContent{width: 100%;}

/*TITULO*/
.titleSignup{
	width: 90%; height: calc(15% - 40px);
	font-size:1.1rem !important;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.parrFulPage{
	width: 95%;
}
.formFullPage{width: 75%;}
}
</style>