<template>
<div class="barraNavegacionPadre cc">
	<div class="barraNavegacionHijo bc">


		<div class="logoNavegacion sc ">
			T-trae
		</div>

		


		<div class="iconosNavegacionPadre bc">
			
			
<!--
			<v-btn
				class="iconoNavegacion"
				circle depressed
				small fab
				>
					<v-icon>mdi-bell-outline</v-icon>
			</v-btn>
			<v-btn
				class="iconoNavegacion"
				circle depressed
				small fab
				>
					<v-icon>mdi-account-circle-outline</v-icon>
			</v-btn>
-->

			<v-btn
				@click.stop="drawer = !drawer"
				class="iconoNavegacion"
				circle depressed
				small fab
				>
					<v-icon>mdi-notification-clear-all</v-icon>
			</v-btn>





			
		</div>
	</div>






		<!--NAVIGATION DRAWER-->
		<v-navigation-drawer
			id="menuLateral"
      v-model="drawer"
      absolute right
      temporary
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
        	<v-list-item two-line>
	          <v-list-item-avatar>
	            <img src="https://randomuser.me/api/portraits/women/81.jpg">
	          </v-list-item-avatar>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Administrador
	            </v-list-item-title>
	            <!--
	            <v-list-item-subtitle>
	            	$ 5000.00 MXN
	            </v-list-item-subtitle>
	        	-->
	          </v-list-item-content>
        	</v-list-item>


        	<v-list-item @click="redirigir('Admin management')">
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-account-cog-outline
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Administradores
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>

        	

        	<v-list-item @click="redirigir('Admin home')">
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-shopping-outline
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Establecimientos
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>



        	<v-list-item @click="redirigir('Admin delivery all')">
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-motorbike
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Repartidores
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>






        	



        	<v-list-item
        	@click="redirigir('Admin history')"
        	>
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-history
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Historial de ventas
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>



        	<v-list-item
        	@click="redirigir('Admin orders')"
        	>
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-cart
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Gestión de pedidos
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>


        	<v-list-item
        	@click="redirigir('Admin providers payments')"
        	>
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-credit-card
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Pagos a proveedores
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>

        	<v-list-item
        	@click="redirigir('Admin delivery payments')"
        	>
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-credit-card
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Pagos a repartidores
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>



        	<v-list-item
        	@click="cerrarSesion()"
        	>
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-close
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Cerrar sesión
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>

          

        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
</div>
</template>



<script>
import router from '../router/index.js'
  export default {
    data: () => ({
      drawer: false,
      group: null,
    }),
    methods:{
    	redirigir(ruta){
    		router.push({ 
        	name: ruta
      	});
    	},
    	cerrarSesion(){
    		localStorage.removeItem('tokenAdmin');
    		router.push({ 
				  name: 'Admin login'
				});

    	}
    },
    beforeMount()
    {
    	//VERIFICAR TOKEN
    	const token = localStorage.getItem('tokenAdmin');
    	const packagePost = new FormData();
			packagePost.append('token',token);

			$.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/admin/verificarToken.php', 
          type:  'post', 
	          contentType: false,
	          processData: false,

          success:  function (res) {
          	if(res!="Ok")
          	{
          		router.push({ 
				        name: 'Admin login'
				      });
          	}
          }

    		})

    }


  }
</script>
<style>
.barraNavegacionPadre{
	width: 100%; height: 9vh;
	background: white;
	position: absolute;top: 0;
	z-index: 3000;
}
.barraNavegacionHijo{
	width: 95%; height: 100%;
}
	.logoNavegacion{
		width: 30%; height: 100%;
		font-weight: 700;
	}
	.iconosNavegacionPadre{
		width: auto; height: 100%; 
	}
		.iconoNavegacion{
			background: white !important;
		}
		.direccionNav{
			font-size: 14px; margin-right: 15px;
		}


/*MENU LATERAL*/
#menuLateral{
	position: fixed;
	height: 100vh;
}
.barraNavegacionPadre .v-overlay__scrim{background: transparent !important;}



.v-application .deep-purple--text.text--accent-4 {
    color: var(--rojoIntenso) !important;
    caret-color: var(--rojoIntenso) !important;
}
</style>