<template>
<div class="barraPrincipalPadre cc">
	<div class="barraPrincipalHijo">
		
		<div class="imagenBarraFondo cc">
			<v-img 
			class="imagenFondoBarra"
			src="https://www.portugalresident.com/wp-content/uploads/2019/11/picture-onderzoeksgroep-organizations-and-markets_0.jpg"
			>
			</v-img>
		</div>


		<div class="barraPrincipalTexto ccc">
			<h1 class="nombreRestaurante">
				NOMBRE DE MI ESTABLECIMIENTO
			</h1>
			<div class="categoriaEstablecimiento cc">
				<p class="infoPrincipalEstablecimiento mright12">
					<v-icon class="iconInfo">
						mdi-basket-outline
					</v-icon>
					Categoría de mi establecimiento
				</p>
				<p class="infoPrincipalEstablecimiento cc">
					<v-icon class="iconInfo">
						mdi-clock-time-eight-outline
					</v-icon>
					10:00 - 22:00
				</p>
			</div>
			<div class="buscadorRestaurante">
				<v-text-field
					append-icon="mdi-search"
					rounded
					solo flat id="buscadorCabecera"
          color="purple darken-2"
          label="Buscar productos en mi catalogo"
      	></v-text-field>
			</div>
		</div>


	</div>
</div>
</template>
<style>
.barraPrincipalPadre{
	width: 100%; height: 55vh;
}
	.barraPrincipalHijo{
		width: 95%; height: 100%;
		background: black;
		position: relative;
		border-radius: 15px;
	}
		.barraPrincipalTexto{
			width: 100%; height: 100%;
			position: absolute;left: 0; top: 0;
			z-index: 1000;
			border-radius: 15px;
			background: rgba(0,0,0,0.3);
		}
			.nombreRestaurante{
				color: white; font-size: 27px;
				text-transform: capitalize;
				font-weight: 600;
				margin-top: 5%;margin-bottom: 5px;
			}
			.categoriaEstablecimiento{
				color: white; font-size: 16px;
				margin-top: 7px;
				margin-bottom: 7px;
			}
				.infoPrincipalEstablecimiento{
					text-align: center;
				}
				.mright12{margin-right: 12px;}
				.iconInfo{
					color: white !important; 
					margin-right: 4px;margin-bottom: 1px;
					font-size: 15px !important;
					margin-left: 4px;
				}
			.buscadorRestaurante{
				width: 60%; height: 50px;
			}


		.botonesBarraPrincipal{
			width: 100%; height: 50px;
			position: absolute; bottom: -25px;
			z-index: 2000;

		}




		.imagenBarraFondo{
			width: 100%; height: 100%;
			position: absolute; left: 0; top: 0;
			z-index: 0; z-index: 0;
			overflow: hidden;
			border-radius: 15px;
		}
			.imagenFondoBarra{
				width: 100%;
			}
</style>