<template>
<div class="barraNavegacionPadre cc">
	<div class="barraNavegacionHijo bc">


		<div class="logoNavegacion sc ">
			T-trae
		</div>

		


		<div class="iconosNavegacionPadre bc">
			<!--
			<div class="direccionNav">
				Dirección que registro el establecimiento
			</div>
			-->
			
<!--
			<v-btn
				class="iconoNavegacion"
				circle depressed
				small fab
				>
					<v-icon>mdi-bell-outline</v-icon>
			</v-btn>



			<v-btn
				class="iconoNavegacion"
				circle depressed
				small fab
				>
					<v-icon>mdi-account-circle-outline</v-icon>
			</v-btn>
-->
			<v-btn
				@click.stop="drawer = !drawer"
				class="iconoNavegacion"
				circle depressed
				small fab
				>
					<v-icon>mdi-notification-clear-all</v-icon>
			</v-btn>





			
		</div>
	</div>






		<!--NAVIGATION DRAWER-->
		<v-navigation-drawer
			id="menuLateral"
      v-model="drawer"
      absolute right
      temporary
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
        	<v-list-item two-line>
	          <v-list-item-avatar>
	            <img src="https://randomuser.me/api/portraits/women/81.jpg">
	          </v-list-item-avatar>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Administrador
	            </v-list-item-title>
<!--
	            <v-list-item-subtitle>
	            	$ 5000.00 MXN
	            </v-list-item-subtitle>
-->
	          </v-list-item-content>
        	</v-list-item>


        	<v-list-item @click="redirigir('Providers account')" color="red accent-3">
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-account
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Mi cuenta
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>

        	<v-list-item @click="redirigir('Providers orders')" color="red accent-3">
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-wallet
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Espacio de trabajo
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>
<!--
        	<v-list-item  >
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-shopping-outline
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Mi establecimiento
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>

-->

        	<v-list-item @click="redirigir('Home')">
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-basket
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Mis productos
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>



        	



        	<v-list-item @click="redirigir('Providers history')">
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-history
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Mi historial de pedidos
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>


        	<v-list-item
        	@click="redirigir('Providers payments')"
        	>
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-credit-card
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Mis pagos
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>



        	<v-list-item @click="cerrarSesion()">
	          <v-list-item-icon>
	            <v-icon>
	            	mdi-close
	            </v-icon>
	          </v-list-item-icon>

	          <v-list-item-content>
	            <v-list-item-title>
	            	Cerrar sesión
	            </v-list-item-title>
	          </v-list-item-content>
        	</v-list-item>

          

        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
</div>
</template>



<script>
import router from '../router/index.js'
  export default {
    data: () => ({
      drawer: false,
      group: null,
    }),

    methods:{
    	redirigir(ruta){
    		router.push({ 
        	name: ruta
      	});
    	},
    	cerrarSesion(){
    		localStorage.removeItem('tokenProvider');
    		router.push({ 
				  name: 'Login Providers'
				});

    	}
    },

    beforeMount()
    {
    	//VERIFICAR TOKEN
    	const token = localStorage.getItem('tokenProvider');
    	const packagePost = new FormData();
			packagePost.append('token',token);

			$.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/verificarToken.php', 
          type:  'post', 
	          contentType: false,
	          processData: false,

          success:  function (res) {

          	if(res=='block')
          	{
          		router.push({ 
							  name: 'Docs providers'
							});
          	}
          	else if(res=='subscription')
          	{
          		router.push({ 
							  name: 'Subscribe providers'
							});
          	}
          	else if(res=='Ok'){

          	}
          	else{
          		router.push({ 
							  name: 'Login Providers'
							});
          	}


          }

    		})

    }


  }
</script>
<style>
.barraNavegacionPadre{
	width: 100%; height: 9vh;
	background: white;
	position: absolute;top: 0;
	z-index: 3000;
}
.barraNavegacionHijo{
	width: 95%; height: 100%;
}
	.logoNavegacion{
		width: 30%; height: 100%;
		font-weight: 700;
	}
	.iconosNavegacionPadre{
		width: auto; height: 100%; 
	}
		.iconoNavegacion{
			background: white !important;
		}
		.direccionNav{
			font-size: 14px; margin-right: 15px;
		}


/*MENU LATERAL*/
#menuLateral{
	position: fixed;
	height: 100vh;
}
.barraNavegacionPadre .v-overlay__scrim{background: transparent !important;}



.v-application .deep-purple--text.text--accent-4 {
    color: var(--rojoIntenso) !important;
    caret-color: var(--rojoIntenso) !important;
}

@media(max-width: 900px)
{
	.direccionNav{display: none;}
}
</style>