<template>
<div class="barraPrincipalPadreInterna cc">
	<div class="barraPrincipalHijo">
		
		<div class="imagenBarraFondo cc">
			<v-img 
			class="imagenFondoBarra"
			src="https://ttrae.com.mx/assets/3.png"
			>
			</v-img>
		</div>


		<div class="barraPrincipalTexto ccc">
			<h1 style="margin-bottom: 50px;" class="nombreRestaurante">
				{{nombre_cabecera}}
			</h1>


		</div>


	</div>
</div>
</template>
<script>
export default {
  props: {
    nombre_cabecera: String
  }
};
</script>
<style>
.barraPrincipalPadreInterna{
	width: 100%; height: 45vh;
	z-index: 0;
}
	.barraPrincipalHijo{
		width: 95%; height: 100%;
		background: black;
		position: relative;
		border-radius: 15px;
	}
		.barraPrincipalTexto{
			width: 100%; height: 100%;
			position: absolute;left: 0; top: 0;
			z-index: 1000;
			border-radius: 15px;
			background: rgba(0,0,0,0.3);
		}
			.nombreRestaurante{
				color: white; font-size: 27px;
				text-transform: capitalize;
				font-weight: 600;
				margin-top: 5%;margin-bottom: 5px;
			}
			.categoriaEstablecimiento{
				color: white; font-size: 16px;
				margin-top: 7px;
				margin-bottom: 7px;
			}
				.infoPrincipalEstablecimiento{
					text-align: center;
				}
				.mright12{margin-right: 12px;}
				.iconInfo{
					color: white !important; 
					margin-right: 4px;margin-bottom: 1px;
					font-size: 15px !important;
					margin-left: 4px;
				}
			.buscadorRestaurante{
				width: 60%; height: 50px;
			}


		.botonesBarraPrincipal{
			width: 100%; height: 50px;
			position: absolute; bottom: -25px;
			z-index: 2000;

		}




		.imagenBarraFondo{
			width: 100%; height: 100%;
			position: absolute; left: 0; top: 0;
			z-index: 0; z-index: 0;
			overflow: hidden;
			border-radius: 15px;
		}
			.imagenFondoBarra{
				width: 100%;
			}
@media(max-width: 900px)
{
	.imagenFondoBarra{
		height: 100% !important;width: 100% !important;
	}
	.nombreRestaurante{text-align: center;font-size: 18px;}
}
</style>