<template>
<div class="docsTheme ccc">
	<img class='imageLogoDoc' src="@/assets/logo.png">
	<h1 class="tituloDoc">Documentación incompleta</h1>
	<p class="parrafoDoc">
		Para continuar con tu registro es necesario que lleves los siguientes documentos a nuestras oficinas ubicadas en <span class="direccionSpn">Av. Xicohténcatl #2904 Colonia Fátima Apizaco Tlaxcala o comunicarse al 221 667 6240</span>.<br>
	</p>
	<p class="parrafoDoc">
		<b >Documentos requeridos</b><br>
	</p>
	<p class="docsSpn">
			- Fotografía de tu negocio<br>
			- Horario de atención<br>
			- Telefono fijo<br>
	</p>
</div>
</template>
<style>
.docsTheme{
	width: 100vw; height: 100vh;
	position: relative;
}
	.imageLogoDoc{
		position: absolute;
		left: 15px; top: 15px;
		height: 22%;width: auto !important;
	}
	.parrafoDoc{text-align: center;width: 60%;}
	.direccionSpn{
		color: black;font-weight: 500;
		font-style: italic;
	}
	.docsSpn{
		font-size: 14px;margin-top: -5px;
		text-align: center;
	}
	.parrafoDoc b{
		font-weight: 600;
	}
	.tituloDoc{margin-bottom: 10px;}

@media(max-width: 900px)
{
	.parrafoDoc{width: 90%;}
}
</style>