<template>
<div class="lateralFormImage">
	<v-img 
			class="imagenFondoLateral"
			src="https://www.portugalresident.com/wp-content/uploads/2019/11/picture-onderzoeksgroep-organizations-and-markets_0.jpg"
			>
	</v-img>
	<div class="degreeLateral"></div>
</div>
</template>

<style>
.lateralFormImage{
	width: 60%; height: 100vh;
	background: black;
	position: relative;
}
	.imagenFondoLateral{
		height: 100%;
	}
	.degreeLateral{
		width: 100%; height: 100%;
		position: absolute;
		left: 0; top: 0;
		background: rgba(0,0,0,0.2);
	}
@media(max-width: 900px)
{
.lateralFormImage{display: none;}
}
</style>