<template>
<div class="lateralFormImage">
	<v-img 
			class="imagenFondoLateral"
			src="https://blog-itnovare-wp.s3.amazonaws.com/wp-content/uploads/2020/07/01193244/DLJ2w-VUIAARWIy-1024x683.jpg"
			>
	</v-img>
	<div class="degreeLateral"></div>
</div>
</template>

<style>
.lateralFormImage{
	width: 60%; height: 100vh;
	background: black;
	position: relative;
}
	.imagenFondoLateral{
		height: 100%;
	}
	.degreeLateral{
		width: 100%; height: 100%;
		position: absolute;
		left: 0; top: 0;
		background: rgba(0,0,0,0.2);
	}
@media(max-width: 900px)
{
.lateralFormImage{display: none;}
}
</style>