<template>
<div class="panel-derecho cc">
	<v-alert
    :value="alert"
    class="alertSw"
    type="success"
    color="black"
    :transition="alertTransition"
    >
      Cambios actualizados correctamente
  </v-alert>
<div class="barraPrincipalPadre cc">
	<div class="barraPrincipalHijo">
		
		<div class="imagenBarraFondo cc">
			<v-img 
			class="imagenFondoBarra"
			src="https://ttrae.com.mx/assets/3.png"
			>
			</v-img>
		</div>


		<div class="barraPrincipalTexto ccc">
			<h1 class="nombreRestaurante">
				Repartidores 
			</h1>
			<div class="buscadorRestaurante">
				<v-text-field
					@input="buscarRepartidores($event)"
					append-icon="mdi-search"
					rounded
					solo flat id="buscadorCabecera"
          color="purple darken-2"
          label="Buscar repartidores"
      	></v-text-field>
			</div>
		</div>


	</div>
</div>





<!---------------------->
	<section class="cabecera-panel-derecho sc">
		<div class="sc nombre-cabecera">
			Configuración de costos de envío
		</div>
	</section>
	<div class="configuracionDePrecios sc">
		<div class="inputConfigFh">
			<v-text-field 
			type="number"
			:value="kmPrice"
			v-model="kmPrice"
			outlined 
			placeholder="Precio por kilometro">
			</v-text-field>
		</div>
		 
		<div class="inputConfigFh">
			<v-text-field 
			type="number"
			:value="segPrice"
			v-model="segPrice"
			outlined 
			placeholder="Precio por minuto">
			</v-text-field>
		</div>
		
		<div class="inputFinishConfig sc">
			<v-btn
			@click="actualizarPrecioEnvio()"
			class="submitBtnInternoAdm" large>Actualizar</v-btn>
		</div>
	</div>
<!---------------------->
	<section class="cabecera-panel-derecho sc">
		<div class="sc nombre-cabecera">
			Repartidores registrados

			<div class="changeOrderSelect">
				<v-select
					@change="ordenarRepartidores()"
					solo flat
					v-model="categoriaOrden"
          :items="categoryOrder"
          label="Ordenar repartidores por"
        ></v-select>
			</div>
		</div>
	</section>
<!---------------------->


	<section class="misProductosPadre sc">
		<v-btn 
		:to="{ name: 'Admin delivery add' }"
		class="productoPadre cc agregarBtn">
			Registrar un <br>nuevo repartidor
		</v-btn>


		<div 
		v-for="(item, i) in products "
    :key="i"
    @click="routerEdit(item.id)"
		class="productoPadre cc">
			<div class="productoImagenPadre cc">
				<v-img  
				class="productoImagen" 
				:src="item.image"></v-img>
			</div>
			<div class="producoNombre cc">
				{{ item.name }} {{ item.last_name }}
				<span class="precioProducto">
					{{ item.tel }} 
				</span>

				<v-rating
					class='ratingStarsDeliv'
					small
		      v-model="item.rate"
		      background-color="orange lighten-3"
		      color="orange"
		      readonly
		      length="5"
		      dense
		      value="4"
		      
		    ></v-rating>
			</div>
		</div>	
	</section>



</div>
</template>
<script>
import router from '../router/index.js'
export default {
name: 'Mis-Productos',
	data: () => ({
		products:null,
		kmPrice : null,
		segPrice : null,
		categoriaOrden:null,
		categoryOrder:[
			'Últimos registrados',
			'Mejor valorados'
		],

		//ALERTS
		alertError:false,
		alert:false,
		alertTransition:'scroll-x-reverse-transition',

	}),


	mounted(){
		/*DATA TOKEN*/
		var vm = this;
		var token = localStorage.getItem('tokenAdmin');

		//OBTENER TODOS LOS PRODUCTOS
    axios
      .get(''+serverName+''+'/admin/verRepartidores.php?token='+token)
      .then(response => {
        console.log(response.data);
        vm.products = response.data;  
      })
	},

	methods : {
		ordenarRepartidores(){
			var vm = this;
			const orden = this.categoriaOrden;
			const token = localStorage.getItem('tokenAdmin');


			axios
      .get(''+serverName+''+'/admin/verRepartidoresOrdenados.php?token='+token+'&orden='+orden)
      .then(response => {
        //console.log(response.data);
        vm.products = response.data;
        //alert(response.data)  
      })
		},
		actualizarPrecioEnvio(){
			const vm = this;
			const kmPrice = this.kmPrice;
			const segPrice = this.segPrice;
			const token = localStorage.getItem('tokenAdmin');
			
			const packagePost = new FormData();

			packagePost.append('kmPrice',kmPrice);
      packagePost.append('segPrice',segPrice);
      packagePost.append('token',token);

      $.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/admin/cambiarPrecioEnvio.php', 
          type:  'post', 
	          contentType: false,
	          processData: false,

          success:  function (res) {
          	vm.alert=true;
              setTimeout(function(){ 
                vm.alert=false; 
              }, 2000);
          }

    	})
		},
		routerEdit(idProduct){
			router.push({ 
        name: 'Admin delivery edit',
        params: { id: idProduct }
      });


		},
		buscarRepartidores(query){
			var vm = this;
			var token = localStorage.getItem('tokenAdmin');

			//OBTENER TODOS LOS PRODUCTOS
	    axios
	      .get(''+serverName+''+'/admin/buscarRepartidores.php?token='+token+'&query='+query)
	      .then(response => {
	        console.log(response.data);
	        vm.products = response.data;  
	      })
		}
	}


}
</script>
<style>
/*
BUSCADOR
*/
.alertSw{z-index: 100000;}
.barraPrincipalPadre{
	width: 100%; height: 55vh;
}
	.barraPrincipalHijo{
		width: 100%; height: 100%;
		background: black;
		position: relative;
		border-radius: 15px;
	}
		.barraPrincipalTexto{
			width: 100%; height: 100%;
			position: absolute;left: 0; top: 0;
			z-index: 1000;
			border-radius: 15px;
			background: rgba(0,0,0,0.3);
		}
			.nombreRestaurante{
				color: white; font-size: 27px;
				text-transform: capitalize;
				font-weight: 600;
				margin-top: 5%;margin-bottom: 5px;
			}
			.categoriaEstablecimiento{
				color: white; font-size: 16px;
				margin-top: 7px;
				margin-bottom: 7px;
			}
				.infoPrincipalEstablecimiento{
					text-align: center;
				}
				.mright12{margin-right: 12px;}
				.iconInfo{
					color: white !important; 
					margin-right: 4px;margin-bottom: 1px;
					font-size: 15px !important;
					margin-left: 4px;
				}
			.buscadorRestaurante{
				width: 60%; height: 50px;
			}


		.botonesBarraPrincipal{
			width: 100%; height: 50px;
			position: absolute; bottom: -25px;
			z-index: 2000;

		}




		.imagenBarraFondo{
			width: 100%; height: 100%;
			position: absolute; left: 0; top: 0;
			z-index: 0; z-index: 0;
			overflow: hidden;
			border-radius: 15px;
		}
			.imagenFondoBarra{
				width: 100%;
			}










.nombre-cabecera{position: relative;}
.ratingStarsDeliv{position: absolute; bottom: 3px;}
.nombre-cabecera{ width: 100%; position: relative;}
.changeOrderSelect{width: 350px; position: absolute;right: 0;}

.acciones-cabecera
{
	width: 50%; height: 100%;
	overflow: hidden;
}
	.padre-buscador-cabecera
	{
		width: 60%; height: 100%;
		margin-top: 20px;
	}

/*CONFIGURACION DE PRECIOS*/
.configuracionDePrecios{
	width: 90%; height: auto;
}
	.inputConfigFh{
		width: 37%; margin-right: 15px;
		height: 60px;
	}
	.inputFinishConfig{width: auto;height: 60px;}
			.submitBtnInternoAdm{
					height: 55px !important;
					background: black !important;
					color: white !important;
					margin-top: -3px;
				}
/*MIS PRODUCTOS PADRE*/
.misProductosPadre{
	width: 90%; height: auto;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.productoPadre{
		width: 17%; height:35vh;
		margin-right: 1.5%;
		margin-left: 1.5%;
		border-radius: 20px;
		overflow: hidden;
		margin-bottom: 6vh;
		position: relative;
		flex-wrap: wrap;
		transform: .5s;
		cursor: pointer;
	}
	.agregarBtn{
		width: 17%; height:35vh !important;
		border-radius: 20px !important;
		background: var(--rojoIntenso) !important;
		color: white !important; text-align: center !important;
	}
	.productoPadre:hover{
		transform: .5s;
		box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.2);
	}
		.productoInfo{
			width: 95%; height: 100%;
			position: absolute;
			top: 0;left: 0;
			background: rgba(0,0,0,0.5);
			color: white;
			text-align: center;
		}


		.productoImagenPadre{
			width: 100%; height: 60%;
			overflow: hidden;
			border-radius: 15px;
		}
			.productoImagen{height: 100%;}

		.producoNombre{
			width: 95%; height: 40%;
			flex-wrap: wrap;
			align-content: center;
			align-items: center;
			position: relative;
		}
			.precioProducto{
				width: 100%; height: auto;
				text-align: center;font-size: 12px;
				margin-top: 5px;
			}

@media(max-width: 900px)
{
.nombre-cabecera{width: 100%;font-size: 18px;}
.productoPadre{
	width: 100%;margin-left: 0px;margin-right: 
}
.infoPrincipalEstablecimiento{display: none;}
.buscadorRestaurante{width: 90%;}
.nombreRestaurante{text-align: center;font-size: 18px;}
.imagenFondoBarra{width: 100%; height: 100%;}
}
</style>
