<template>
<div class="loginContent cc">
	<div class="logoSignup">
		T-trae
	</div>

	<h1 class="titleSignup">
		Bienvenido de nuevo
	</h1>

	<p class="parrSignup">
		Ingresa tus datos de acceso para iniciar 
		sesión <br>en tu cuenta
	</p>

	<form 

	@submit.prevent="nothing()"
	method="get"
	ref="form"
	v-model="valid"
	lazy-validation

	class="signupForm bc">




		<div class="formInputFull">
			<v-text-field
				:rules="stringRules"
				required
				v-model="mail"
				outlined
        label="Correo electronico "
      ></v-text-field>
		</div>

		<div class="formInputFull mTopFormLogin">
			<v-text-field
				:rules="stringRules"
				required
				v-model="password"
				:append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
        :type="show1 ? 'text' : 'password'"
        @click:append="show1 = !show1"
				outlined
        label="Contraseña "
      ></v-text-field>
		</div>
		





		<div class="submitCont sc">
			<v-btn @click="send()" class="submitBtn" large depressed>
				Ingresar
			</v-btn>
		</div>

		<router-link 
		style="margin-top: 20px;text-decoration: none;"
		:to="{ name: 'Signup Providers'}">
		Crear una cuenta
		</router-link>

		

		<router-link 
		style="margin-top: 20px;text-decoration: none;"
		:to="{ name: 'Recovery password', params: { id: 1 }} ">
		Olvide mi contraseña
		</router-link>
		

		<a 
		target="_blank" 
		class="downloadLink" href="https://ttrae.com.mx/assets/manual_vendedor.pdf">
			Descargar manual de comercios
		</a>
	</form>
</div>
</template>

<script>
	import router from '../router/index.js' 
  export default {
    data: () => ({
    	//VALIDATIONS
			valid:true,
			stringRules: [
	      v => !!v || '',
	    ],

    	show1: false,
      categorias: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      mail : null,
			password : null,
    }),

    methods: {
    	nothing (){
				return null;
			},
    	send(){
    		//this.$refs.form.validate()
    		//GUARDAR DATOS
				const mail = this.mail;
				const password = this.password;

				//CREAR PAQUETE
				const packagePost = { 
          'mail':mail,
          'password':password
        };

        //ENVIAR PACKETE POR POST
    		$.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/loginProvider.php', 
          type:  'post',

          success:  function (res) {
          	if(res=="Err mail")
          	{
          		alert(res);
          	}
          	else
          	{
          		/**/

          		localStorage.setItem('tokenProvider',  res );
          		router.push({ 
              	name: 'Autenticate',
              	//name: 'Providers orders',
              	params:{ id: 1 }
              });
		
          	}
          }

    		})

    	}
    }
  }
</script>

<style>
.loginContent
{
	width: 40%; height: 100vh;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	position: relative;
}
	
	.logoSignup{
		position: absolute; top: 7vh;
		left: 5%;
		font-weight: 800;
	}


	.titleSignup{
		width: 90%; height: auto;
		text-align: left;
		font-size: 25px;
		margin-bottom: 2vh;
	}
	.parrSignup{
		width: 70%; text-align: justify !important;
		margin-right: 20%;
	}
	.signupForm{
		width: 90%; height: auto;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
	}
		.formInputMiddle{
			width: 49%; height: 60px;
		}
		.formInputFull{
			width: 100%; height: 60px;
		}
		.mTopFormLogin{margin-top: 2vh;}
		.submitCont{
			width: 100%; height: 60px;
			margin-top: 2vh;
		}
			.submitBtn{
				width: 100% !important; 
				height: 60px !important;
				background: black !important;
				color: white !important;
			}

@media(max-width: 900px)
{
.loginContent{width: 100%;}

/*TITULO*/
.titleSignup{
	width: 90%; height: calc(15% - 40px);
	font-size:1.1rem !important;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

}
</style>