<template>
<div class="panel-derecho cc">
	<div class="barraPrincipalPadre cc">
	<div class="barraPrincipalHijo">
		
		<div class="imagenBarraFondo cc">
			<v-img 
			class="imagenFondoBarra"
			src="https://ttrae.com.mx/assets/3.png"
			>
			</v-img>
		</div>


		<div class="barraPrincipalTexto ccc">
			<h1 class="nombreRestaurante">
				Bienvenido administrador
			</h1>
			<div class="buscadorRestaurante">
				<v-text-field
					@input="searchItems($event)"
					append-icon="mdi-search"
					rounded
					solo flat id="buscadorCabecera"
          color="purple darken-2"
          label="Busca establecimientos por nombre o categoría"
      	></v-text-field>
			</div>
		</div>


	</div>
</div>










	<!---------------------->
	<section  style="width: 95%;" class="cabecera-panel-derecho sc">
		<div class="sc nombre-cabecera" >
			Establecimientos registrados

			<div class="changeOrderSelect">
				<v-select
					@change="ordenarComercios()"
					solo flat
					v-model="categoriaOrden"
          :items="categoryOrder"
          label="Ordenar comercios por"
        ></v-select>
			</div>
		</div>
	</section>
	<!---------------------->


	<section class="misProductosPadre sc">

		<v-btn 
		:to="{ path: '/admin/add' }"
		class="productoPadreAdmin cc registrarEstBtn">
			Registrar un nuevo<br>
			establecimiento
		</v-btn>

		<div 
		v-for="(item, i) in establecimientos "
    :key="i"
    @click="routerEdit(item.id)"
		class="productoPadreAdmin cc">
			<div class="productoImagenPadreAdmin cc">
				<v-img 
				class="productoImagen" 
				:src= "item.business_picture"
				></v-img>
				<div class="logoRestauranteAdmin cc">
					<v-img 
						class="logoEstablecimientoAdmin"
						:src="item.business_logo">
					</v-img>
				</div>
			</div>
			<div class="establecimientoFh cc">
				<p class="nombreEstablecimiento">
					{{item.business_name}}
				</p>
				<p class="informacioEstablecimiento">
					Dirección del negocio
				</p>
				<p class="infoMitadEstablecimiento ec">
					{{item.tel}}
				</p>

				<v-rating
					class='ratingStars'
					small
		      v-model="item.rate"
		      background-color="orange lighten-3"
		      color="orange"
		      readonly
		      length="5"
		      dense
		      value="4"
		      
		    ></v-rating>
			</div>
		</div>	
	</section>
</div>
</template>


<script>
import router from '../router/index.js'
export default {
name: 'Mis Productos',
	data: () => ({
		rating:3,
		establecimientos:null,
		categoriaOrden:null,
		categoryOrder:[
			'Últimos agregados',
			'Mejor valorados'
		]
	}),
	mounted(){
		var vm = this;
		var token = localStorage.getItem('tokenAdmin');

		axios
      .get(''+serverName+''+'/admin/verEstablecimientos.php?token='+token)
      .then(response => {
        console.log(response.data);
        vm.establecimientos = response.data; 

      })
	},
	methods : {
		ordenarComercios(){
			var vm = this;
			const orden = this.categoriaOrden;
			const token = localStorage.getItem('tokenAdmin');


			axios
      .get(''+serverName+''+'/admin/verEstablecimientosOrdenados.php?token='+token+'&orden='+orden)
      .then(response => {
        //console.log(response.data);
        vm.establecimientos = response.data;
        //alert(response.data)  
      })
		},
		routerEdit(idProduct){
			router.push({ 
        name: 'Admin edit provider',
        params: { id: idProduct }
      });
		},
		searchItems(query){
			var vm = this;
			var token = localStorage.getItem('tokenAdmin');

			axios
	      .get(''+serverName+''+'/admin/buscarEstablecimientos.php?token='+token+'&query='+query)
	      .then(response => {
	        //console.log(response.data);
	        vm.establecimientos = response.data;  
	      })
		}
	}

}
</script>
<style>
.barraPrincipalPadre{
	width: 100%; height: 55vh;
}
	.barraPrincipalHijo{
		width: 100%; height: 100%;
		background: black;
		position: relative;
		border-radius: 15px;
	}
		.barraPrincipalTexto{
			width: 100%; height: 100%;
			position: absolute;left: 0; top: 0;
			z-index: 1000;
			border-radius: 15px;
			background: rgba(0,0,0,0.3);
		}
			.nombreRestaurante{
				color: white; font-size: 27px;
				text-transform: capitalize;
				font-weight: 600;
				margin-top: 5%;margin-bottom: 5px;
			}
			.categoriaEstablecimiento{
				color: white; font-size: 16px;
				margin-top: 7px;
				margin-bottom: 7px;
			}
				.infoPrincipalEstablecimiento{
					text-align: center;
				}
				.mright12{margin-right: 12px;}
				.iconInfo{
					color: white !important; 
					margin-right: 4px;margin-bottom: 1px;
					font-size: 15px !important;
					margin-left: 4px;
				}
			.buscadorRestaurante{
				width: 60%; height: 50px;
			}


		.botonesBarraPrincipal{
			width: 100%; height: 50px;
			position: absolute; bottom: -25px;
			z-index: 2000;

		}




		.imagenBarraFondo{
			width: 100%; height: 100%;
			position: absolute; left: 0; top: 0;
			z-index: 0; z-index: 0;
			overflow: hidden;
			border-radius: 15px;
		}
			.imagenFondoBarra{
				width: 100%;
			}















.ratingStars{position: absolute;left: 0; bottom: 10px;}
.nombre-cabecera{ width: 100%; position: relative;}
.changeOrderSelect{width: 350px; position: absolute;right: 0;}
.acciones-cabecera
{
	width: 50%; height: 100%;
	overflow: hidden;
}
	.padre-buscador-cabecera
	{
		width: 60%; height: 100%;
		margin-top: 20px;
	}
/*MIS PRODUCTOS PADRE*/
.misProductosPadre{
	width: 95%; height: auto;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.productoPadreAdmin{
		width: 23%; height:50vh;
		border-radius: 15px;
		overflow: hidden;
		margin-bottom: 6vh;
		position: relative;
		flex-wrap: wrap;
		transform: .5s;
		cursor: pointer;
		margin-left: .5%;
		margin-right: .5%;
	}
	
	.productoPadreAdmin:hover{
		transform: .5s;
		box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.2);
	}
	.registrarEstBtn{
		width: 24% !important; height:50vh !important;
		background: var(--rojoIntenso) !important;
		color: white !important;
		text-align: center !important;
	}

		.productoImagenPadreAdmin{
			width: 100%; height: 55%;
			align-content: flex-start;
			align-items: flex-start;
			position: relative;
			background: rgb(0,0,0,0.1);
		}
			.productoImagen{
				height: 100%;
				z-index: 0;
			}
			.logoRestauranteAdmin{
				position: absolute;
				right: 2.5%; bottom: -35px;
				width: 70px; height: 70px;
				z-index: 2000;
			}
			.logoEstablecimientoAdmin{
				width: 90%; height: 50px;
				background: white;
			}

		.establecimientoFh{
			width: 95%; height: 45%;
			flex-wrap: wrap;
			align-content: center;
			align-items: center;
			z-index: 0;
			position: relative;
		}
			.nombreEstablecimiento{
				width: 95%; font-weight: 700;
				text-align: left;
				margin: 0 !important;
				margin-bottom: 5px !important;
			}
			.informacioEstablecimiento{
				width: 95%; text-align: left;
				font-size: 14px;height: auto;
				margin: 0 !important;
			}
			.infoMitadEstablecimiento{
				width: 95%; height: auto;
				font-size: 14px;
				margin: 0 !important;
				margin-top: 8px !important;
			}
@media(max-width: 900px)
{
.productoPadreAdmin{
	width: 100% !important;
	margin-right: 0%;
	margin-left: 0%;
}
}	
</style>
