<template>
<div class="panel-derecho cc">

<div class="barraPrincipalPadre cc">
	<div class="barraPrincipalHijo">
		
		<div class="imagenBarraFondo cc">
			<v-img 
			class="imagenFondoBarra"
			src="https://ttrae.com.mx/assets/estab.png"
			>
			</v-img>
		</div>


		<div class="barraPrincipalTexto ccc">
			<h1 class="nombreRestaurante">
				Bienvenido a tu cuenta
			</h1>
			<!--
			<div class="categoriaEstablecimiento cc">
				<p class="infoPrincipalEstablecimiento mright12">
					<v-icon class="iconInfo">
						mdi-basket-outline
					</v-icon>
					Categoría de mi establecimiento
				</p>
				<p class="infoPrincipalEstablecimiento cc">
					<v-icon class="iconInfo">
						mdi-clock-time-eight-outline
					</v-icon>
					10:00 - 22:00
				</p>
			</div>
			-->
			<div class="buscadorRestaurante">
				<v-text-field
					@input="buscarCatalogo($event)"
					append-icon="mdi-search"
					rounded
					solo flat id="buscadorCabecera"
          color="purple darken-2"
          label="Buscar productos en mi catalogo"
      	></v-text-field>
			</div>
		</div>


	</div>
</div>








<!---------------------->
	<section class="cabecera-panel-derecho sc">
		<div class="sc nombre-cabecera">
			Todos mis artículos en venta
		</div>
	</section>
<!---------------------->


	<section class="misProductosPadre sc">
		<v-btn 
		:to="{ path: '/providers/add' }"
		class="productoPadre cc agregarBtn">
			Agregar un nuevo <br>producto
		</v-btn>


		<div 
		v-for="(item, i) in products "
    :key="i"
    @click="routerEdit(item.id)"
		class="productoPadre cc">
			<div class="productoImagenPadre cc">
				<v-img  
				class="productoImagen" 
				:src="item.image"></v-img>
			</div>
			<div class="producoNombre cc">
				{{ item.name }}
				<span v-if="item.price_discount == item.price " class="precioProducto">
					$ {{ item.price }} MXN
				</span>

				<div v-else class="precioProducto">
					<span class="text-decoration-line-through">
						$ {{ item.price }}
					</span>
					<span class="priceDiscount">
						{{ item.price_discount }} MXN
					</span>
				</div>
			</div>
		</div>	
	</section>



</div>
</template>
<script>
import router from '../router/index.js'
export default {
name: 'Mis-Productos',
	data: () => ({
		products:null
	}),


	mounted(){
		/*DATA TOKEN*/
		var vm = this;
		var token = localStorage.getItem('tokenProvider');

		//OBTENER TODOS LOS PRODUCTOS
    axios
      .get(''+serverName+''+'/verProductos.php?token='+token)
      .then(response => {
        console.log(response.data);
        vm.products = response.data;  
      })
	},

	methods : {
		routerEdit(idProduct){
			router.push({ 
        name: 'Editar producto',
        params: { id: idProduct }
      });
		},
		buscarCatalogo(query){

			var vm = this;
			var token = localStorage.getItem('tokenProvider');

			//OBTENER TODOS LOS PRODUCTOS
	    axios
	      .get(''+serverName+''+'/buscarProductos.php?token='+token+'&query='+query)
	      .then(response => {
	        console.log(response.data);
	        vm.products = response.data;  
	      })

		}
	}


}
</script>
<style>
/*
BUSCADOR
*/
.barraPrincipalPadre{
	width: 100%; height: 55vh;
}
	.barraPrincipalHijo{
		width: 100%; height: 100%;
		background: black;
		position: relative;
		border-radius: 15px;
	}
		.barraPrincipalTexto{
			width: 100%; height: 100%;
			position: absolute;left: 0; top: 0;
			z-index: 1000;
			border-radius: 15px;
			background: rgba(0,0,0,0.3);
		}
			.nombreRestaurante{
				color: white; font-size: 27px;
				text-transform: capitalize;
				font-weight: 600;
				margin-top: 5%;margin-bottom: 5px;
			}
			.categoriaEstablecimiento{
				color: white; font-size: 16px;
				margin-top: 7px;
				margin-bottom: 7px;
			}
				.infoPrincipalEstablecimiento{
					text-align: center;
				}
				.mright12{margin-right: 12px;}
				.iconInfo{
					color: white !important; 
					margin-right: 4px;margin-bottom: 1px;
					font-size: 15px !important;
					margin-left: 4px;
				}
			.buscadorRestaurante{
				width: 60%; height: 50px;
			}


		.botonesBarraPrincipal{
			width: 100%; height: 50px;
			position: absolute; bottom: -25px;
			z-index: 2000;

		}




		.imagenBarraFondo{
			width: 100%; height: 100%;
			position: absolute; left: 0; top: 0;
			z-index: 0; z-index: 0;
			overflow: hidden;
			border-radius: 15px;
		}
			.imagenFondoBarra{
				width: 100%;
			}












.acciones-cabecera
{
	width: 50%; height: 100%;
	overflow: hidden;
}
	.padre-buscador-cabecera
	{
		width: 60%; height: 100%;
		margin-top: 20px;
	}
/*MIS PRODUCTOS PADRE*/
.misProductosPadre{
	width: 90%; height: auto;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.productoPadre{
		width: 17%; height:35vh;
		margin-right: 1.5%;
		margin-left: 1.5%;
		border-radius: 20px;
		overflow: hidden;
		margin-bottom: 6vh;
		position: relative;
		flex-wrap: wrap;
		transform: .5s;
		cursor: pointer;
	}
	.agregarBtn{
		width: 17%; height:35vh !important;
		border-radius: 20px !important;
		background: var(--rojoIntenso) !important;
		color: white !important; text-align: center !important;
	}
	.productoPadre:hover{
		transform: .5s;
		box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.2);
	}
		.productoInfo{
			width: 95%; height: 100%;
			position: absolute;
			top: 0;left: 0;
			background: rgba(0,0,0,0.5);
			color: white;
			text-align: center;
		}


		.productoImagenPadre{
			width: 100%; height: 60%;
			overflow: hidden;
			border-radius: 15px;
		}
			.productoImagen{height: 100%;}

		.producoNombre{
			width: 95%; height: 40%;
			flex-wrap: wrap;
			align-content: center;
			align-items: center;
		}
			.precioProducto{
				width: 100%; height: auto;
				text-align: center;font-size: 12px;
				margin-top: 5px;
			}
			.priceDiscount{margin-left: 5px;}

@media(max-width: 900px)
{
.nombre-cabecera{width: 100%;font-size: 18px;}
.productoPadre{
	width: 100%;margin-left: 0px;margin-right: 
}
.infoPrincipalEstablecimiento{display: none;}
.buscadorRestaurante{width: 90%;}
.nombreRestaurante{text-align: center;font-size: 18px;}
.imagenFondoBarra{width: 100%; height: 100%;}
}
</style>
