<template>
<div class="contenedorPrincipalInterno cc">
	<!--ALERTAS-->
	<v-alert
    :value="alert"
    class="alertSw"
    type="success"
    color="black"
    :transition="alertTransition"
    >
      Producto añadido correctamente
  </v-alert>
  <v-alert
    :value="alertError "
    class="alertSw"
    type="error"
    :transition="alertTransition"
    >
      Ha ocurrido un error, por favor verifica tus datos
  </v-alert>
  <!--ALERTAS-->


	<div class="contPrinIntSn cc">
		<!--SUBIR IMAGEN-->
		<div class="imageUploaderCont ccc">
			<div class="imagePrevewCont bc">
				<label class="imageButton cc">
					<!--IMAGE PREVEW-->
					<v-img 
					class="imagePrevew"
					v-if="seeImage" 
					:src="imagePrevUrl">
					</v-img>
					<!--INPUT HIDE-->
					<input 
					id="imageFile" 
					@change="previsualizarImagen($event)" 
					style="display: none;" 
					type="file" name="image"
					>
					<!--INPUT ICON-->
					<v-icon 
							v-if="seeIcon" 
							class="uploadImageIcon" >
								mdi-image
					</v-icon>
				</label>
				


				<label  class="imageButton cc">
					<!--IMAGE PREVEW-->
					<v-img 
					class="imagePrevew"
					v-if="seeImage2" 
					:src="imagePrevUrl2">
					</v-img>
					<!--INPUT HIDE-->
					<input 
					id="imageFile2" 
					@change="previsualizarImagen2($event)" 
					style="display: none;" 
					type="file" name="image"
					>
					<!--INPUT ICON-->
					<v-icon 
							v-if="seeIcon2" 
							class="uploadImageIcon" >
								mdi-image
					</v-icon>
				</label>



				<label class="imageButton cc">
					<!--IMAGE PREVEW-->
					<v-img 
					class="imagePrevew"
					v-if="seeImage3" 
					:src="imagePrevUrl3">
					</v-img>
					<!--INPUT HIDE-->
					<input 
					id="imageFile3" 
					@change="previsualizarImagen3($event)" 
					style="display: none;" 
					type="file" name="image"
					>
					<!--INPUT ICON-->
					<v-icon 
							v-if="seeIcon3" 
							class="uploadImageIcon" >
								mdi-image
					</v-icon>
				</label>




				<label class="imageButton cc">
					<!--IMAGE PREVEW-->
					<v-img 
					class="imagePrevew"
					v-if="seeImage4" 
					:src="imagePrevUrl4">
					</v-img>
					<!--INPUT HIDE-->
					<input 
					id="imageFile4" 
					@change="previsualizarImagen4($event)" 
					style="display: none;" 
					type="file" name="image"
					>
					<!--INPUT ICON-->
					<v-icon 
							v-if="seeIcon4" 
							class="uploadImageIcon" >
								mdi-image
					</v-icon>
				</label>



				<label class="imageButton cc">
					<!--IMAGE PREVEW-->
					<v-img 
					class="imagePrevew"
					v-if="seeImage5" 
					:src="imagePrevUrl5">
					</v-img>
					<!--INPUT HIDE-->
					<input 
					id="imageFile5" 
					@change="previsualizarImagen5($event)" 
					style="display: none;" 
					type="file" name="image"
					>
					<!--INPUT ICON-->
					<v-icon 
							v-if="seeIcon5" 
							class="uploadImageIcon" >
								mdi-image
					</v-icon>
				</label>


				<label class="imageButtonGrey cc">
					
				</label>
			</div>
		</div>

		<!-- INGRESAR INFORMACION-->
		<div class="infoInputsCont bc">
			<h1 class="titAddProd">
				Agrega información de tu producto
			</h1>


			<div class="formInputAdd34 topMargInp">
				<v-text-field
				v-model="name"
				outlined
        label="Nombre del producto"
      	></v-text-field>
			</div>

			<div class="formInputAdd14 topMargInp">
				<v-text-field
				type="number"
				v-model="price"
				outlined
        label="Precio"
      	></v-text-field>
			</div>


			<div class="formInputFull ">
				<v-textarea
				v-model="description"
				:value="description"
				height="100"
				outlined
        label="Descripción / información extra"
      	></v-textarea>
			</div>

			<div class="formInputFull ">
				<v-text-field
				type="number"
				v-model="stock"
				outlined
        label="Stock disponible"
      	></v-text-field>
			</div>


			<!--SEND-->
			<div class="submitContInterno ec">

				<div class="progressCont sc">
					<v-progress-circular
						:size="30"
						:width="2"
			      indeterminate
			      color="primary"
			    ></v-progress-circular>

				</div>

				<v-btn @click="send()" class="submitBtnInterno" large >
					Subir producto
				</v-btn>


			</div>

			

		</div>
	</div>
	<div class="finalDiv"></div>
</div>
</template>
<script>
import router from '../router/index.js'
export default {
name: 'Crear-producto',
	data: () => ({
		//URL PREVEW 1
		imagePrevUrl:null,
		seeIcon:true,
		seeImage:false,

		//URL PREVEW 2
		imagePrevUrl2:null,
		seeIcon2:true,
		seeImage2:false,

		//URL PREVEW 3
		imagePrevUrl3:null,
		seeIcon3:true,
		seeImage3:false,

		//URL PREVEW 4
		imagePrevUrl4:null,
		seeIcon4:true,
		seeImage4:false,


		//URL PREVEW 5
		imagePrevUrl5:null,
		seeIcon5:true,
		seeImage5:false,



		//ALERTS
		alertError:false,
		alert:false,
		alertTransition:'scroll-x-reverse-transition',

		//FORM
		name:null,
		price:null,
		stock:null,
		description:null,
		price_discount:null,
	}),
	methods : {
		previsualizarImagen(e){
			const file = e.target.files[0];
      this.imagePrevUrl = URL.createObjectURL(file);
      this.seeIcon=false;
      this.seeImage = true;
		},
		previsualizarImagen2(e){
			const file = e.target.files[0];
      this.imagePrevUrl2 = URL.createObjectURL(file);
      this.seeIcon2=false;
      this.seeImage2 = true;
		},
		previsualizarImagen3(e){
			const file = e.target.files[0];
      this.imagePrevUrl3 = URL.createObjectURL(file);
      this.seeIcon3=false;
      this.seeImage3 = true;
		},
		previsualizarImagen4(e){
			const file = e.target.files[0];
      this.imagePrevUrl4 = URL.createObjectURL(file);
      this.seeIcon4=false;
      this.seeImage4 = true;
		},
		previsualizarImagen5(e){
			const file = e.target.files[0];
      this.imagePrevUrl5 = URL.createObjectURL(file);
      this.seeIcon5=false;
      this.seeImage5 = true;
		},
		send(){
			
			//GUARDAR DATOS
			$('.progressCont').css('display','flex');
			var vm = this;
			const token = localStorage.getItem('tokenProvider');
			const name = this.name;
			const price = this.price;
			const stock = this.stock;
			const description = this.description;
			//IMAGEN
			const imageFile = $('#imageFile')[0].files[0];
			const imageFile2 = $('#imageFile2')[0].files[0];
			const imageFile3 = $('#imageFile3')[0].files[0];
			const imageFile4 = $('#imageFile4')[0].files[0];
			const imageFile5 = $('#imageFile5')[0].files[0];


			const packagePost = new FormData();
			packagePost.append('token',token);
      packagePost.append('name',name);
      packagePost.append('price',price);
      packagePost.append('stock',stock);
      packagePost.append('description',description);
      
      packagePost.append('imageFile',imageFile);
      packagePost.append('imageFile2',imageFile2);
      packagePost.append('imageFile3',imageFile3);
      packagePost.append('imageFile4',imageFile4);
      packagePost.append('imageFile5',imageFile5);
			

      //ENVIAR PACKETE POR POST
    		$.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/registrarProducto.php', 
          type:  'post', 
	          contentType: false,
	          processData: false,

          success:  function (res) {
          	$('.progressCont').css('display','none');
          	if(res=="Ok")
          	{
          		vm.alert=true;
              setTimeout(function(){ 
                vm.alert=false; 
              }, 2000);
          	}
          	else
          	{
          		vm.alertError=true;
              setTimeout(function(){ 
                vm.alertError=false; 
              }, 2000);
          	}
          }

    		})



		}
	}
}
</script>
<style>
.contenedorPrincipalInterno{
	width: 100%; height: auto;
	margin-top: -25px;
	z-index: 1000;
	position: absolute;top: 40vh;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.contPrinIntSn{
		width: 90%; height: 80vh;
		background: white;
		box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
		border-radius: 15px;
		overflow: hidden;
	}
		/*SUBIR IMAGEN*/
		.imageUploaderCont{
			width: 40%; height: 100%;
		}
			.imagePrevewCont{
				width: 90%; height: 55%;
				position: relative;		
				flex-wrap: wrap;
				align-content: space-between;	
			}
				.imageButton{
					width: 30%; height: 45%;
					background: black;
					border-radius: 5px;
					cursor: pointer;
					overflow: hidden;
				}
				.imageButtonGrey{
					width: 30%; height: 38%;
					background: transparent;
					border-radius: 5px;
				}
				.uploadImageIcon{
					color: white !important;
					font-size: 35px !important;
				}
				.imagePrevew{
					height: 100%;
				}
			
		/*SUBIR IMAGEN*/


		.infoInputsCont{
			width: 50%; height: 100%;
			flex-wrap: wrap;
			align-content: center;
			align-items: center;
			margin-left: 3%;
		}
			.titAddProd{
				width: 100%; height: auto;
				font-size: 20px;
				margin-bottom: 1vh;
			}

			.formInputFull{width: 100%; height: auto;}
			.formInputAdd34{width: 65%; height: auto;}
			.formInputAdd14{width: 30%; height: auto;}
			.topMargInp{margin-top: 2vh;}


			.submitContInterno{
				width: 100%; height: 60px;
			}

			.progressCont{
				margin-right: 15px; height: 60px;
				width: auto;display: none;
			}


				.submitBtnInterno{
					width: 30% !important; 
					height: 60px !important;
					background: black !important;
					color: white !important;
				}


	.finalDiv{
		width: 100%; height: 5vh;
	}
</style>