<template>
<div class="contenedorPrincipalInterno cc">
	

	
	<div 
	v-for="(item, i) in infoDetails "
    :key="i"
	class="contPrinIntSnOrder cc">

		<!--PEDIDO-->	
		<div class="detailInfoOrder bc">
			<h1 class="detailTit sc">Detalles del pedido</h1>
			<p class="">
				<b>Descripción  del pedido</b><br>
					<span v-html="item.order_detail"></span>
				<br><br>

				<b>Información del cliente</b><br>
				<b >Nombre:</b> {{item.nameClient}}
				<br class="spaceShowMov">
				<b class="">Telefono:</b> {{item.telClient}}
				<br class="spaceShowMov">
				
				<b class="">Hora en que se ordeno:</b> {{item.time_order}} HRS
				<br class="spaceShowMov">
				<b class="">Fecha en que se ordeno:</b>{{item.date_order}}
				<br class="spaceShowMov">
				<br><br>

				<b>Total:</b> $ {{item.price}} MXN<br>
				
			</p>
		</div>





		<!--MAPA-->	
		<div class="tableOrdersFh cc">
			<div class="tableTitFhDet ccc">
				<h2 class="titTable">Dirección del  cliente</h2>
				El cliente  espera  su pedido en 
			</div>

			<div class="orderFhDetail sc">
				
				<iframe 
				class="iframeMap" 
				frameborder="0" scrolling="no" marginheight="0" marginwidth="0" :src="item.order_link_map"></iframe>

			</div>
		</div>
		


		<div class="spaceBottm"></div>
	</div>

<div class="spaceBottm"></div>
</div>
</template>
<script>
  export default {
    data () {
      return {
        switch1: false,
        infoDetails:null
      }
    },

    mounted(){
    	const query = this.$route.params.id;
	  	const token = localStorage.getItem('tokenProvider');
	  	axios
	      .get(''+serverName+''+'/orderDetails.php?token='+token+'&idOrder='+query)
	      .then(response => {
	        this.infoDetails =response.data;
	        //alert(response.data)
	    })
    }
  }
</script>
<style>
.contenedorPrincipalInterno{
	width: 100%; height: auto;
	margin-top: -25px;
	z-index: 1000;
	position: absolute;top: 40vh;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}




	.detailInfoOrder{
		width: 90%; height: auto;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: flex-start;
		margin-bottom: 25px;
	}
		.detailTit{
			width: 100%; height: 80px; 
			text-align: left; font-size: 22px;
		}
		.mLeftDet{margin-left: 15px;}
		.mLeftMini{margin-left: 7px;}



/*MAPA Y REPARTIDOR*/
	.contPrinIntSnOrder{
		width: 90%; height: auto;
		background: white;
		box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
		border-radius: 15px;
		overflow: hidden;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: flex-start;
	}
	.tableOrdersFh{
		width: 90%; height: 350px;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: flex-start;
		margin-bottom: 25px;
	}
		.tableTitFhDet{
			width: 100%; height:120px;
			text-align: left;
			align-items: flex-start;
			
		}
			.titTable{
				font-size: 18px;
				font-weight: 700px;
				margin-bottom: 5px;
			}


		.orderFhDetail{
			width: 100%; height: 250px;
			border-radius: 15px;
		}

			.imageOrderCont{
				width: 25%; height: 100%;
				align-content: center;
				align-items: center;
			}
			.infoOrderCont{
				width: 70%; height: 100%;
				align-content: center;
				align-items: center;
				flex-wrap: wrap;
			}
				.titOrderDet{
					width: 100%; font-size: 14px;
					text-align: center;
					margin-top: 5px;
				}
				.infoTxtOrderDet{
					width: 100%; font-size: 12px;
					margin: 0 !important; padding: 0 !important;
					margin-top: 10px !important;
					line-height: 12px;
					text-align: center;
				}
					.infoStrong{font-size: 12px;}
				.imageDelivery{
					width: 120px !important; 
					height: 120px !important; 
					border-radius: 1500px;
				}
				.iframeMap{
					width: 100%; height: 100%;
				}


		/*BOTONES*/
		.infoButtonsTbOrdr{
			width: 100%; height: 40px;
			margin-top: 15px;
		}
			.infoBtnTb{height: 100%; }
				.btn-blk{
					background: black!important;
					color: white !important;
				}
				.btn-red{
					margin-left: 5px;
				}

.spaceBottm{width: 100%; height: 50px;}
</style>