<template>
<div class="contenedorPrincipalInterno cc">
	<!--ALERTAS-->
	<v-alert
    :value="alert"
    class="alertSw"
    type="success"
    color="black"
    :transition="alertTransition"
    >
      Información actualizada
  </v-alert>
  <v-alert
    :value="alertError "
    class="alertSw"
    type="error"
    :transition="alertTransition"
    >
      Ha ocurrido un error, por favor verifica tus datos
  </v-alert>
  <!--ALERTAS-->


	<div class="contPrinIntSnAdmin cc">
		<!-- INGRESAR INFORMACION-->
		<v-form
			@submit.prevent="nothing()"
			method="get"
			ref="form"
	    v-model="valid"
	    lazy-validation
		 class="infoInputsContAdmin bc">


			<h1 class="titAddProd">
				Datos de contacto
			</h1>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="name"
				outlined
        label="Nombre"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="last_name"
				outlined
        label="Apellido"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				type="number"
				v-model="tel"
				outlined
        label="Telefono"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="mail"
				outlined
        label="Correo electronico"
      	></v-text-field>
			</div>
		<!--
			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="password"
				outlined
				type="password"
        label="Contraseña de acceso"
      	></v-text-field>
			</div>

		-->
			<div class="formInputAdd34Admin topMargInp">
			</div>



			<h1 class="titAddProd">
				Información del establecimiento
			</h1>


			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="business_name"
				outlined
        label="Nombre del establecimiento"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-select
				:rules="stringRules"
				required
				outlined
				v-model="categoria"
				:items="categorias"
        label="Categoría del establecimiento"
      ></v-select>
			</div>

			

			<div class="formInputAdd34Admin topMargInp">
				<v-file-input

				  v-model="business_logo"
					prepend-icon=""
				  truncate-length="15" outlined
				  label="Logo del establecimiento"
				></v-file-input>
			</div>


			<div class="formInputAdd34Admin topMargInp">
				<v-file-input
				  v-model="business_picture"
					prepend-icon=""
				  truncate-length="15" outlined
				  label="Imagen  del establecimiento"
				></v-file-input>
			</div>
			<div class="formInputAdd24Admin topMargInp">
				<v-text-field
					:rules="stringRules"
					required
				  v-model="business_address" outlined
				  label="Dirección del establecimiento"
				></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="timeOpen"
				outlined
        label="Horario de apertura"
      	></v-text-field>
			</div>

			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				:rules="stringRules"
				required
				v-model="timeClose"
				outlined
        label="Horario de cierre"
      	></v-text-field>
			</div>
			<div class="formInputAdd34Admin topMargInp"></div>

			<h1 class="titAddProd">
				Mis códigos de descuento
			</h1>
			<div class="discountCodes">
				<div class="createCodeForm sc">
					<div class="createCodeInput">
						<v-text-field
							solo flat outlined
							v-model="codeDiscount"
			        label="Ingresa tu código"
			      >
			      </v-text-field>
			    </div>
			    <div class="createCodeDiscountInput">
						<v-text-field
							solo flat outlined
							v-model="discountPor"
			        label="Descuento"
			        type="number"
			        prepend-inner-icon="mdi-percent"
			      >
			      </v-text-field>
			    </div>
					<v-btn 
					@click="sendDiscountCode()"
					depressed class="createCodeButton" >
						Crear código
					</v-btn>
				</div>
				<v-data-table
			    :headers="headers"
			    :items="desserts"
			    :items-per-page="5"
			  ></v-data-table>
			</div>

			<h1 class="titAddProd">
				Configuración de retiros bancarios
			</h1>


			<div class="formInputAdd24Admin topMargInp">
				<v-text-field
				  v-model="business_clabe" outlined
				  label="CLABE Interbancaría a donde te depositaremos"
				></v-text-field>
			</div>
			<div class="formInputAdd34Admin topMargInp">
				<v-text-field
				  v-model="business_bank" outlined
				  label="Nombre de tu banco"
				></v-text-field>
			</div>


			<h1 class="titAddProd">
				Ubicación de mi establecimiento
			</h1>

			<div  class="inputPlacesFh">
				<v-text-field
					id='searchTextField'
				  outlined
				  label="Busca tu dirección manualmente"
				></v-text-field>
			</div>

			<div class="addresContainer">
  	
	  	<iframe id="mapaContFrameSrch" class="iframe" :src="business_map" frameborder="0" style="width: 100%;height: 100%;" allowfullscreen></iframe>

	  	<div @click="actualizarMapa()" class="updateMap cc">Actualizar</div>
	  	</div>





			<!--SEND-->
			<div class="submitContInterno sc">
				<v-btn
				type="submit"
				 @click="send()" class="submitBtnInternoAdm" large >
					Actualizar datos
				</v-btn>
			</div>
			<div class="finalDivInterno"></div>

		</v-form>
	</div>
	<div class="finalDiv"></div>
</div>
</template>
<script>
import router from '../router/index.js'
export default {
name: 'Crear-establecimiento',
	data: () => ({
		/*TABLA CODIGOS DESCUENTOS*/
		headers: [
      {
        text: 'Código',
        align: 'start',
        sortable: false,
        value: 'code',
      },
      { text: 'Fecha de creación', value: 'timeCreation' },
      { text: 'Porcentaje de descuento', value: 'discount' },
    ],
      desserts: [
        {
          code: 'Frozen Yogurt',
          timeCreation: '25-05-2020',
          discount: '50%',
        }
      ],


    codeDiscount:null,
    discountPor:null,
		//ALERTS
		alertError:false,
		alert:false,
		alertTransition:'scroll-x-reverse-transition',

		//FORM
		name:null,
		last_name:null,
		tel:null,
		mail:null,
		timeOpen:null,
		timeClose:null,
		//password:null,
		business_name:null,
		business_logo:null,
		business_picture:null,
		business_address:null,
		business_clabe:null,
		business_bank:null,
		business_map: 'https://maps.google.com/?ll=19.4180874,-99.1679389&z=18&t=m&output=embed&d',

		//VALIDATIONS
		valid:true,
		stringRules: [
      v => !!v || 'Este dato es requerido',
    ],
    discountRules: [
      v => !!v || '',
    ],

		categorias: 
      	[
      		'Salud', 
      		'Alimentos', 
      		'Belleza', 
      		'Ropa y calzado',
      		'Productos para el hogar',
      		'Educación',
      		'Diversión y entretenimiento',
      		'Servicios'
      	],
	}),
	methods : {	
		//ACTUALIZAR UBICACIÓN

		actualizarMapa(){
    	if (navigator.geolocation) {
    		navigator.geolocation.getCurrentPosition(

    			function(position){

    			const lat = position.coords.latitude;
				  const long = position.coords.longitude;
				  const token = localStorage.getItem('tokenProvider');

				  const packagePost = { 
          	'lat':lat,
          	'long':long,
          	'token':token
      		};

				  $.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/updateLatLong.php', 
          type:  'post',

            success:  function (res) {
            	$('#mapaContFrameSrch').attr('src',res)
            }

    		  })


    		}, 
    			function(){
    			alert('No nos haz permitido acceder a tu ubicación')
    			}
    		);
			} else {
			    alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
			}




    },
    nothing(){
    	return null;
    },
    //ENVIAR CÓDIGO DE DESCUENTO
    sendDiscountCode(){
    	var vm = this;
    	const token = localStorage.getItem('tokenProvider');
    	const discountCode = this.codeDiscount;
    	const discountPorcentaje = this.discountPor;
    	
    	const packagePost = { 
        'discountCode':discountCode,
        'discountPorcentaje':discountPorcentaje,
        'token':token
      };

      $.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/generarCodigoDescuento.php', 
          type:  'post', 
          success:  function (res) {
          	//alert(res)


						axios
				      .get(''+serverName+''+'/misCodigosDeDescuento.php?token='+token)
				      .then(response => {
				      	vm.desserts = response.data;
				      })
          	
          }

    		})
    },
		//ACTUALIZAR INFORMACION
		send(){
			
			this.$refs.form.validate()
			//GUARDAR DATOS
			var vm = this;
			const token = localStorage.getItem('tokenProvider');
			const name = this.name;
			const last_name = this.last_name;
			const tel = this.tel;
			const mail = this.mail;
			//const password = this.password;
			const business_name = this.business_name;
			const categoria = this.categoria;
			const business_logo = this.business_logo;
			const business_picture = this.business_picture;
			const business_address = this.business_address;
			const timeOpen = this.timeOpen;
			const	timeClose = this.timeClose;
			const business_clabe = this.business_clabe;
			const	business_bank = this.business_bank;
		
			const packagePost = new FormData();
			packagePost.append('token',token);
			packagePost.append('name',name);
      packagePost.append('last_name',last_name);
      packagePost.append('tel',tel);
      packagePost.append('mail',mail);
      //packagePost.append('password',password);
      packagePost.append('business_name',business_name);
      packagePost.append('categoria',categoria);

      packagePost.append('business_clabe',business_clabe);
      packagePost.append('business_bank',business_bank);

      packagePost.append('timeOpen',timeOpen);
      packagePost.append('timeClose',timeClose);

      packagePost.append('business_logo',business_logo);
      packagePost.append('business_picture',business_picture);
      packagePost.append('business_address',business_address);



      //ENVIAR PACKETE POR POST
    		$.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/updateInfoAccount.php', 
          type:  'post', 
	          contentType: false,
	          processData: false,

          success:  function (res) {
          	//alert(res)
          	if(res=="Ok")
          	{
          		vm.alert=true;
              setTimeout(function(){ 
                vm.alert=false; 
              }, 2000);
          	}
          	else
          	{
          		vm.alertError=true;
              setTimeout(function(){ 
                vm.alertError=false; 
              }, 2000);
          	}
          }

    		})


    	
		}
	},
	mounted(){
		var token = localStorage.getItem('tokenProvider');


		axios
      .get(''+serverName+''+'/misCodigosDeDescuento.php?token='+token)
      .then(response => {
      	this.desserts = response.data;
      })

		//OBTENER TODOS LOS PRODUCTOS
    axios
      .get(''+serverName+''+'/infoProvider.php?token='+token)
      .then(response => {

      	this.name = response.data[0].name;
				this.last_name = response.data[0].last_name;
				this.tel = response.data[0].tel;
				this.mail = response.data[0].mail;
				//this.password = response.data[0].pass;
				this.business_name = response.data[0].business_name;
				this.business_address = response.data[0].business_address;
				this.business_map = response.data[0].business_map;
				this.categoria = response.data[0].business_category;
				this.timeOpen = response.data[0].timeOpen;
				this.timeClose = response.data[0].timeClose;
        
      })




   //GOOGLE PLACES
   var input = document.getElementById('searchTextField');
   var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.addListener('place_changed', function(){
        const place = autocomplete.getPlace();

        
        const lat =place.geometry.location.lat();
        const long =place.geometry.location.lng();
        const addressName = place.name;

				  const packagePost = { 
          	'lat':lat,
          	'long':long,
          	'token':token
      		};

				  $.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/updateLatLong.php', 
          type:  'post',

            success:  function (res) {
            	$('#mapaContFrameSrch').attr('src',res)
            }

    		  })

        //GENERATE MAP
        /*
        const urlMap = "https://maps.google.com/?q="+lat+","+long+"&z=18&t=m&output=embed";
        $('.iframe').attr('src',urlMap);
        */
        //OCULTAR DIV
        
      });

	}
}
</script>
<style>
.contenedorPrincipalInterno{
	width: 100%; height: auto;
	margin-top: -25px;
	z-index: 1000;
	position: absolute;top: 40vh;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.contPrinIntSnAdmin{
		width: 90%; height: auto;
		background: white;
		box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
		border-radius: 15px;
		overflow: hidden;
		align-content: flex-start;
		align-items: flex-start;
	}


		.infoInputsContAdmin{
			width: 95%; height: 100%;
			flex-wrap: wrap;
			align-content: flex-start;
			align-items: flex-start;
		}
			.titAddProd{
				width: 100%; height: auto;
				font-size: 20px;
				margin-bottom: 1vh;
				margin-top: 5vh;
			}

			.formInputFull{width: 100%; height: auto;}
			.formInputAdd34Admin{width: 32%; height: auto;}
			.formInputAdd24Admin{width: 66%; height: auto;}
			.topMargInp{margin-top: 2vh;}

			/*CODIGOS DE DESCUENTO*/
			.discountCodes{
				width: 100%; height: auto;
			}
				.createCodeForm{
					width: 100%; height: 50px;
					margin-bottom: 15px;margin-top: 5px;
				}
					.createCodeInput{
						width: 25%;margin-right: 10px;
						margin-top: 30px;
					}
					.createCodeDiscountInput{
						width: 20%;margin-right: 10px;
						margin-top: 30px;
					}
					.createCodeButton{
						 background: black !important;
						 color: white !important;
						 height: 56px !important;
						 text-transform: initial !important;
						 font-weight: 300 !important;
					}
			/**************************/
			.submitContInterno{
				width: 100%; height: 60px;
			}


				.submitBtnInternoAdm{
					width: 32% !important; 
					height: 60px !important;
					background: black !important;
					color: white !important;
				}





/*MAPA*/
	.addresContainer{
		width: 100%; height: 250px;
		margin-bottom: 60px;
		position: relative;
	}

	.updateMap{
		width: 150px; height: 50px;
		position: absolute;
		right: 15px;top: 15px;
		z-index: 1000;
		background: black;
		border-radius: 5px;
		color: white;
		cursor: pointer;
	}
	.inputPlacesFh{width: 100%;}


	.finalDivInterno{
		width: 100%; height: 5vh;
	}
	.finalDiv{
		width: 100%; height: 5vh;
	}
	.alertSw{z-index: 100000;}
@media(max-width: 900px)
{
	.formInputAdd34Admin{width: 100%;}
	.submitBtnInternoAdm{width: 100% !important;}
}
</style>