<template>
<div class="contenedorPrincipalInterno cc">
	<div class="contPrinIntSnTab">
    <v-alert
    :value="alert"
    class="alertSw"
    type="success"
    color="black"
    :transition="alertTransition"
    >
      {{ messageRes }}
    </v-alert>
    <!--PAGOS REALIZADOS-->
		<v-card-title style="width: 95%;margin-left: 2.5%;">
      Historial de pagos
      <v-spacer></v-spacer>
      <div class="linePaymentOptions sc">
        <span class="saldoText">Mi saldo actual $ {{saldoComercio}} MXN</span>
        <v-btn
        large
        class="paymentReqBtn"
        @click="paymentRequest()"
        >
          Solicitar pago
        </v-btn>
      </div>
    </v-card-title>

    <v-data-table
    	style="width: 95%;margin-left: 2.5%;"
      :headers="headers"
      :items="desserts"
      :search="search"
    ></v-data-table>






	</div>
	<div class="finalDiv"></div>
</div>
</template>
<script>
import router from '../router/index.js'
export default {
name: 'AdminHistorySales',
	data: () => ({
    //ALERTS
    saldoComercio:0,
    alertError:false,
    alert:false,
    alertTransition:'scroll-x-reverse-transition',
    messageRes:null,


    ganancias:null,
		search: '',
    search2:'',
    headers: [
      {
        text: 'Establecimiento',
        align: 'start',
        sortable: false,
        value: 'nameShop',
      },
      { text: 'Telefono', value: 'telShop' },
      { text: 'Monto pagado', value: 'payment' },
      { text: 'CLABE', value: 'clabe' },
      { text: 'Banco', value: 'bank' },
      { text: 'Día y hora', value: 'datePayment' },
      { text: 'Estado', value: 'statusPayment' },
    ],
    desserts: [
      {
        nameShop: 'KitKat',
        telShop: 518,
        payment: 518,
        clabe: 518,
        bank: 26.0,
        datePayment: 26.0,
        statusPayment: 65,
      },
    ],

   


	}),


	mounted(){
		var vm = this;
		const token = localStorage.getItem('tokenProvider');






    /*************************/
		//PAGOS REALIZADOS
		axios
      .get(''+serverName+''+'/historialDePagos.php?token='+token+'&type=providers&status=Finished')
      .then(response => {
      	this.desserts = response.data;
        //alert(response.data)
      })

    //SALDO DEL COMERCIO

    axios
      .get(''+serverName+''+'/obtenerSaldo.php?token='+token)
      .then(response => {
        this.saldoComercio = response.data;
        //alert(response.data)
      })



	},

	methods : {
		
		paymentRequest(){
      const vm = this;
      const user_type = 'providers';
      const token = localStorage.getItem('tokenProvider');
      const packagePost = new FormData();
        packagePost.append('token',token);
        packagePost.append('user_type',user_type);


      $.ajax({
          data:  packagePost, 
          url:   ''+serverName+''+'/solicitarPago.php', 
          type:  'post', 
            contentType: false,
            processData: false,

          success:  function (res) {
            axios
              .get(''+serverName+''+'/historialDePagos.php?token='+token+'&type=providers&status=Finished')
              .then(response => {
                vm.desserts = response.data;
                //alert(response.data)
              })


            vm.messageRes = res;
            vm.alert=true;
              setTimeout(function(){ 
                vm.alert=false; 
              }, 5000);
          }
      })

    }

	}


}
</script>
<style>
.contenedorPrincipalInterno{
	width: 100%; height: auto;
	margin-top: -25px;
	z-index: 1000;
	position: absolute;top: 40vh;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.contPrinIntSnTab{
		width: 90%; height: auto;
		background: white;
		box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
		border-radius: 15px;
		overflow: hidden;
	}

/*REGISTRAR UN NUEVO PAGO*/
.newPayRegisterFh{
  width: 95%; height: auto;
  margin-left: 2.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}
  .newPaymentFrFh
  {
    width: 100%; height: 100px;
  }
    .inputFormPayment{
      width: 28%; height: auto;
    }
      .finishBtnLarge
      {
        background: black !important;
        color: white !important;
        margin-top: -29px;
        height: 55px!important;
      }


/*SOLICITAR PAGO*/
.linePaymentOptions{
  
}
.paymentReqBtn
{
  background: black !important;
  color: white!important;
}
.saldoText{
  font-size: 16px !important;font-weight: 400 !important;
  margin-right: 15px;
}

	.finalDiv{
		width: 100%; height: 5vh;
	}
	
</style>