<template>
<div class="contenedorPrincipalInterno cc">
	<div class="contPrinIntSnTab">

		<v-card-title style="width: 95%;margin-left: 2.5%;">
      Ventas totales $ {{ ganancias }} MXN
      <v-spacer></v-spacer>
      <v-text-field
      	outlined
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar orden"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
    	style="width: 95%;margin-left: 2.5%;"
      :headers="headers"
      :items="desserts"
      :search="search"
    >
        <template
          #item.comercio="{ value }">
          <span v-html="value">
          </span>
        </template>
    </v-data-table>


  <div class="chartsFhContaine bc">
    <div class="chartContainer sc">
      <v-card-title style="width: 100%; height: 20%;">
        Estadisticas de ventas en los últimos 7 días
      </v-card-title>
      <canvas id="myChart" style="width: 100%;height: 80%;"></canvas>
    </div>
  </div>

    <div class="finalDiv"></div>
	</div>




  
	<div class="finalDiv"></div>
</div>
</template>
<script>
import router from '../router/index.js'
export default {
name: 'AdminHistorySales',
	data: () => ({
    ganancias:null,
		search: '',
        headers: [
          {
            text: 'Pedido',
            align: 'start',
            sortable: false,
            value: 'comercio',
          },
          { text: 'Fecha', value: 'fecha' },
          { text: 'hora', value: 'hora' },
          { text: 'Repartidor', value: 'repartidor' },
          { text: 'Cliente', value: 'cliente' },
          { text: 'Monto', value: 'total' },
          { text: 'Comisión', value: 'comision' },
        ],
        desserts: [
          {
            comercio: 'KitKat',
            fecha: 518,
            hora: 26.0,
            repartidor: 65,
            cliente: 7,
            total: '6%',
            comision: '6%',
          },
        ],
/*REPORTE DE GANANCIAS DIARIAS*/
      gananciasDiarias: [
          {
            text: 'Día',
            align: 'start',
            sortable: false,
            value: 'comercio',
          },
          { text: 'Ventas realizadas', value: 'ventasTotales' },
      ],

      dessDiarias: [
          {
            comercio: 'KitKat',
            ventasTotales: 518
          },
      ],
	}),


	mounted(){
    var vm = this;
    const token = localStorage.getItem('tokenProvider');
    //alert(token)

    var jsonData = $.ajax({
          url:''+serverName+''+'reporteGananciasDiarias.php?token='+token,
          dataType: "json",
          async: false
    }).responseText;

    var parseJson = JSON.parse(jsonData);
    var jsonfile = {
       "jsonarray": parseJson
    };


    var labels = jsonfile.jsonarray.map(function(e) {
      return e.DiaReporte;
    });
    var data = jsonfile.jsonarray.map(function(e) {
       return e.Ganancias;
    });


var ctx = document.getElementById('myChart').getContext('2d');
var config = {
   type: 'line',
   data: {
      labels: labels,
      datasets: [
        {
           label: 'Ingresos del día (MXN)',
           data: data,
           backgroundColor: 'rgba(0, 0, 0, 0.07)',
           borderColor:'rgba(0, 0, 0, 0.65)',
        }
      ]
   },
   options:{
    legend: {
        display: false
    },
   }
};

var chart = new Chart(ctx, config);


		
		
		axios
      .get(''+serverName+''+'/salesReport.php?token='+token)
      .then(response => {
      	this.desserts = response.data;
      })

    axios
      .get(''+serverName+''+'/ganancias.php?token='+token)
      .then(response => {
        //console.log(response.data)
        this.ganancias = response.data[0].ganancias;
      })

	},

	methods : {
		
		

	}


}
</script>
<style>
.contenedorPrincipalInterno{
	width: 100%; height: auto;
	margin-top: -25px;
	z-index: 1000;
	position: absolute;top: 40vh;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.contPrinIntSnTab{
		width: 90%; height: auto;
		background: white;
		box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
		border-radius: 15px;
		overflow: hidden;
	}


  .chartsFhContaine{
    width: 95%; height: auto;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 2.5%;
  }
    .chartContainer
    {
      width: 100%; height: 500px;
      flex-wrap: wrap;margin-top: 25px;
      align-content: flex-start;
      align-items: flex-start;
    }
	






	.finalDiv{
		width: 100%; height: 5vh;
	}
	
</style>