<template>
<div class="loginContent cc">

	<v-alert
    :value="alertMessage"
    class="alertSw"
    :type="typeAlert"
    :transition="alertTransition"
    
    >
    {{ messageRes }}


    
  </v-alert>


	<div class="logoSignup">
		T-trae
	</div>

	<h1 class="titleSignup">
		Restablece tu contraseña
	</h1>

	<p class="parrSignup">
		Ingresa el correo electroncio con el que te registraste para que puedas cambiar tu contraseña
	</p>

	<form 

	@submit.prevent="nothing()"
	method="get"
	ref="form"
	v-model="valid"
	lazy-validation

	class="signupForm bc">


		<div class="formInputFull">
			<v-text-field
				:rules="stringRules"
				required
				v-model="mail"
				outlined
        label="Correo electronico "
      ></v-text-field>
		</div>






		<div class="submitCont sc">
			<v-btn @click="send()" class="submitBtn" large depressed>
				Enviar
			</v-btn>
		</div>
		<router-link 
		style="margin-top: 20px;text-decoration: none;"
		:to="{ name: 'Signup Providers'}">
		Crear una cuenta
		</router-link>
		
	</form>
</div>
</template>

<script>
	import router from '../router/index.js' 
  export default {
  	//ALERTS
		
		

    data: () => ({
    	messageRes:null,
    	alertMessage:false,
    	typeAlert:'success',
    	alertTransition:'scroll-x-reverse-transition',
    	//VALIDATIONS
			valid:true,
			stringRules: [
	      v => !!v || '',
	    ],

    	show1: false,
      categorias: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      mail : null,
			password : null,
    }),

    methods: {
    	nothing (){
				return null;
			},
    	send(){
    		const query = this.$route.params.id;
    		let userTypeVar = "";
    		if(query=='1')
    		{
    			userTypeVar = 'establecimientos';
    		}
    		else if(query=='2')
    		{
    			userTypeVar = 'users';
    		}
    		else if(query == '3')
    		{
    			userTypeVar = 'delivery';
    		}
    		else if(query == '4')
    		{
    			userTypeVar = 'admin';
    		}
    		//this.$refs.form.validate()
    		//GUARDAR DATOS
    		const vm = this;
				const mail = this.mail;
				//CREAR PAQUETE
				const packagePost = { 
          'mail':mail,
          'userType':userTypeVar
        };

        //ENVIAR PACKETE POR POST
    		$.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/recuperarPassword.php', 
          type:  'post',

          success:  function (res) {
          	if(res=='Este correo no se encuentra en nuestra base de datos')
          	{
          		vm.typeAlert = 'error';
          	}else{
          		vm.typeAlert = 'success';
          	}
          	vm.messageRes = res;
          	vm.alertMessage=true;
              setTimeout(function(){ 
                vm.alertMessage=false; 
              }, 5000);
          }

    		})

    	}
    }
  }
</script>

<style>
.loginContent
{
	width: 40%; height: 100vh;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	position: relative;
}
	
	.logoSignup{
		position: absolute; top: 7vh;
		left: 5%;
		font-weight: 800;
	}


	.titleSignup{
		width: 90%; height: auto;
		text-align: left;
		font-size: 25px;
		margin-bottom: 2vh;
	}
	.parrSignup{
		width: 70%; text-align: justify !important;
		margin-right: 20%;
	}
	.signupForm{
		width: 90%; height: auto;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
	}
		.formInputMiddle{
			width: 49%; height: 60px;
		}
		.formInputFull{
			width: 100%; height: 60px;
		}
		.mTopFormLogin{margin-top: 2vh;}
		.submitCont{
			width: 100%; height: 60px;
			margin-top: 2vh;
		}
			.submitBtn{
				width: 100% !important; 
				height: 60px !important;
				background: black !important;
				color: white !important;
			}
.alertSw{z-index: 100000;}
@media(max-width: 900px)
{
.loginContent{width: 100%;}

/*TITULO*/
.titleSignup{
	width: 90%; height: calc(15% - 40px);
	font-size:1.1rem !important;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


}
</style>