<template>
<div class="loginContent cc">

	<v-alert
    :value="alertMessage"
    class="alertSw"
    type="success"
    :transition="alertTransition"
    
    >
     Tu contraseña ha sido actualizada correctamente<br>
     ya puedes iniciar sesión
  </v-alert>


	<div class="logoSignup">
		T-trae
	</div>

	<h1 class="titleSignup">
		Restablece tu contraseña
	</h1>

	<p class="parrSignup">
		Ingresa tu nueva contraseña
	</p>

	<form 

	@submit.prevent="nothing()"
	method="get"
	ref="form"
	v-model="valid"
	lazy-validation

	class="signupForm bc">


		<div class="formInputFull">
			<v-text-field
				v-model="password"
				:append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
        :type="show1 ? 'text' : 'password'"
        @click:append="show1 = !show1"
				outlined
        label="Contraseña "
      ></v-text-field>
		</div>






		<div class="submitCont sc">
			<v-btn @click="send()" class="submitBtn" large depressed>
				Enviar
			</v-btn>
		</div>

	</form>
</div>
</template>

<script>
	import router from '../router/index.js' 
  export default {
  	//ALERTS
		
		

    data: () => ({
    	alertMessage:false,
    	alertTransition:'scroll-x-reverse-transition',
    	//VALIDATIONS
			valid:true,
			stringRules: [
	      v => !!v || '',
	    ],

    	show1: false,
      categorias: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      mail : null,
			password : null,
    }),

    methods: {
    	nothing (){
				return null;
			},
    	send(){
    		const vm = this;
    		const keyLink = this.$route.params.id;
    		const pass = this.password;
				const packagePost = { 
          'newPassword':pass,
          'keyToken':keyLink
        };

        //ENVIAR PACKETE POR POST
    		$.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/cambiarPassword.php', 
          type:  'post',

          success:  function (res) {
          	vm.alertMessage=true;
              setTimeout(function(){ 
                vm.alertMessage=false; 
              }, 5000);
          }

    		})

    	}
    }
  }
</script>

<style>
.loginContent
{
	width: 40%; height: 100vh;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	position: relative;
}
	
	.logoSignup{
		position: absolute; top: 7vh;
		left: 5%;
		font-weight: 800;
	}


	.titleSignup{
		width: 90%; height: auto;
		text-align: left;
		font-size: 25px;
		margin-bottom: 2vh;
	}
	.parrSignup{
		width: 70%; text-align: justify !important;
		margin-right: 20%;
	}
	.signupForm{
		width: 90%; height: auto;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
	}
		.formInputMiddle{
			width: 49%; height: 60px;
		}
		.formInputFull{
			width: 100%; height: 60px;
		}
		.mTopFormLogin{margin-top: 2vh;}
		.submitCont{
			width: 100%; height: 60px;
			margin-top: 2vh;
		}
			.submitBtn{
				width: 100% !important; 
				height: 60px !important;
				background: black !important;
				color: white !important;
			}
.alertSw{z-index: 100000;}
@media(max-width: 900px)
{
.loginContent{width: 100%;}

/*TITULO*/
.titleSignup{
	width: 90%; height: calc(15% - 40px);
	font-size:1.1rem !important;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


}
</style>