<template>
<div class="signupContent cc">
	<div class="logoSignup">
		T-trae
	</div>

	<h1 class="titleSignup">
		Empieza a vender en linea
	</h1>

	<p class="parrSignup">
		Empieza a vender a distancia, registra tu negocio y empieza hoy mismo
	</p>

	<v-form 
	@submit.prevent="nothing()"
	method="get"
	ref="form"
	v-model="valid"
	lazy-validation


	class="signupForm bc">
		<div class="formInputMiddle">
			<v-text-field
				:rules="stringRules"
				required
				v-model="name"
				outlined
        label="Nombre (s)"
      ></v-text-field>
		</div>
		<div class="formInputMiddle">
			<v-text-field
				:rules="stringRules"
				required
				v-model="last_name"
				outlined
        label="Apellido "
      ></v-text-field>
		</div>



		<div class="formInputMiddle mTopForm">
			<v-text-field
				:rules="stringRules"
				required
				v-model="mail"
				outlined
        label="Correo electronico "
      ></v-text-field>
		</div>

		<div class="formInputMiddle mTopForm">
			<v-text-field
				:rules="stringRules"
				required
				v-model="password"
				:append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
        :type="show1 ? 'text' : 'password'"
        @click:append="show1 = !show1"
				outlined
        label="Contraseña "
      ></v-text-field>
		</div>


		<div class="formInputMiddle mTopForm">
			<v-text-field
				:rules="stringRules"
				required
				v-model="business_name"
				outlined
        label="Nombre de tu negocio"
      ></v-text-field>
		</div>

		<div class="formInputMiddle mTopForm">
			<v-select
				:rules="stringRules"
				required
				outlined
				v-model="categoria"
				:items="categorias"
        label="Categoría de tu negocio"
      ></v-select>
		</div>
		<div class="formInputFullsc" style="height: 40px;">
			<v-checkbox
				:true-value="10"
         :false-value="0"
         :rules="[v => v != 0 || 'Debes aceptar nuestros términos y condiciones']"
         v-model="checkbox"
         label="Acepto terminos y condiciones"
		  ></v-checkbox>
		</div>

		<div class="submitCont sc">
			<v-btn @click="send()" class="submitBtn" large depressed>
				Registrarme
			</v-btn>
		</div>
		<router-link 
		style="margin-top: 20px;text-decoration: none;"
		:to="{ name: 'Login Providers'}">
			Ya tengo una cuenta
		</router-link>

		<a 
		target="_blank" 
		class="downloadLink" href="https://ttrae.com.mx/assets/manual_vendedor.pdf">
			Descargar manual de comercios
		</a>
		
	</v-form>
</div>
</template>

<script>
	import router from '../router/index.js' 
  export default {
    data: () => ({

    	//VALIDATIONS
			valid:true,
			stringRules: [
	      v => !!v || '',
	    ],
	    checkbox: 0,

	    


    	show1: false,
      categorias: 
      	[
      		'Salud', 
      		'Alimentos', 
      		'Belleza', 
      		'Ropa y calzado',
      		'Productos para el hogar',
      		'Educación',
      		'Diversión y entretenimiento',
      		'Servicios'
      	],

      name: null,
      last_name: null,
      mail: null,
      password: null,
      categoria: null,
      business_name:null
    }),


    methods: {
    	nothing (){
				return null;
			},
    	send(){
    		this.$refs.form.validate()

    		if(this.checkbox == 10)
{
    		//GUARDAR DATOS
    		const name = this.name;
				const last_name = this.last_name;
				const mail = this.mail;
				const password = this.password;
				const business_name = this.business_name;
				const categoria = this.categoria;

				//CREAR PAQUETE
    		const packagePost = { 
          'name':name,
          'last_name':last_name,
          'mail':mail,

          'password':password,
          'business_name':business_name,
          'categoria':categoria,
        };

        //ENVIAR PACKETE POR POST
    		$.ajax({
    			data:  packagePost, 
          url:   ''+serverName+''+'/registrarUsuario.php', 
          type:  'post',

          success:  function (res) {
          	
          	if( res == 'Err mail')
          	{
          		alert('Correo ya registrado')
          	}
          	else if( res == 'Err inputs')
          	{
          		alert('Verifica tu información')
          	}
          	//GUARDAR TOKEN
          	else{

          		localStorage.setItem('tokenProvider',  res );
          		router.push({ 
              	name: 'Home'
              });


          	}


          }
    		})
    	}
}


    } 
  }
</script>

<style>
.signupContent
{
	width: 40%; height: 100vh;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	position: relative;
}
	
	.logoSignup{
		position: absolute; top: 3vh;
		left: 5%;
		font-weight: 800;
	}


	.titleSignup{
		width: 90%; height: auto;
		text-align: left;
		font-size: 25px;
		margin-bottom: 2vh;
	}
	.parrSignup{
		width: 70%; text-align: justify !important;
		margin-right: 20%;
	}
	.signupForm{
		width: 90%; height: auto;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
	}
		.formInputMiddle{
			width: 49%; height: 60px;
		}
		.formInputFull{
			width: 100%; height: 60px;
		}
		.mTopForm{margin-top: 10px;}
		.submitCont{
			width: 100%; height: 60px;
			margin-top: 15px;
		}
			.submitBtn{
				width: 100% !important; 
				height: 60px !important;
				background: black !important;
				color: white !important;
			}

@media(max-width: 900px)
{

/*FORMULARIO*/
.signupForm{
	height: 80%;
	overflow-y: auto;align-content: flex-start;
	align-items: flex-start;
}
	.signupContent{width: 100%;}
	.formInputMiddle{
		width: 100%;margin-top: 15px;

	}
	.mTopForm{margin-top: 15px;}
	.submitCont{margin-top: 15px;}

/*PARRAFO*/
.parrSignup{display: none;}

/*LOGO*/
.logoSignup{
	position: initial;
	width: 90%; height: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/*TITULO*/
.titleSignup{
	width: 90%; height: calc(15% - 40px);
	font-size:1.1rem !important;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

}
</style>