<template>
<div class="docsTheme ccc">
	<img class='imageLogoDoc' src="@/assets/logo.png">
	<h1 class="tituloDoc">Elige tu plan</h1>
	<p class="parrafoPlan">
		Estas a un paso de terminar tu registro, a continuación elige tu plan y podrás  empezar a vender en t-trae
	</p>
	
	<div class="planesCont bc">
		<!--PLAN-->
		<div class="planFh ccc">
			<div class="planInfoTxt cc">
				<h2 class="planName">
					Plan <br> clasico
				</h2>
				<p class="parrName">
					- $ 800 MXN mensuales<br>
					- Sin comisión por venta
				</p>
			</div>
			<div class="subscribeBtnFh ec">
				<v-btn 
				:href="plan1"
				large class="subscribeBtn cc">Comprar</v-btn>
			</div>
		</div>
		

		<!--PLAN-->
		<div class="planFh ccc">
			<div class="planInfoTxt cc">
				<h2 class="planName">
					Plan <br>premium
				</h2>
				<p class="parrName">
					- $ 400 MXN mensuales<br>
					- 10% de comisión en tus ventas totales
				</p>
			</div>
			<div class="subscribeBtnFh ec">
				<v-btn :href="plan2" large class="subscribeBtn cc">Comprar</v-btn>
			</div>
		</div>


		<!--PLAN-->
		<div class="planFh ccc">
			<div class="planInfoTxt cc">
				<h2 class="planName">
					Plan <br>pro
				</h2>
				<p class="parrName">
					- $ 200 MXN mensuales<br>
					- 15% de comisión en tus ventas totales
				</p>
			</div>
			<div class="subscribeBtnFh ec">
				<v-btn :href="plan3" large class="subscribeBtn cc">Comprar</v-btn>
			</div>
		</div>
	</div>
	
</div>
</template>
<script>
import router from '../router/index.js'
export default {
name: 'subscription',
	data: () => ({
		plan1:null,
		plan2:null,
		plan3:null,
		plan4:null
	}),
	mounted(){
		var vm = this;
		var token = localStorage.getItem('tokenProvider');
		console.log(token);

		axios
      .get(''+serverName+''+'/createSubscription.php?token='+token)
      .then(response => {
      	vm.plan1 = response.data[0].plan1;
      	vm.plan2 = response.data[0].plan2;
      	vm.plan3 = response.data[0].plan3;
      	vm.plan4 = response.data[0].plan4;
      })
	}
}
</script>
<style>
.docsTheme{
	width: 100vw; height: 100vh;
	position: relative;
}
	.imageLogoDoc{
		position: absolute;
		left: 15px; top: 15px;
		height: 20%;width: auto !important;
	}
	.tituloDoc{margin-bottom: 10px;}


	/*PLANES*/
	.planesCont{
		width: 80%; height: 310px;
	}
		.planFh{
			width: 24%; height: 100%;
			border-radius: 5px;
			border:solid 2px transparent;
			transition: .5s;
		}
		.parrafoPlan{text-align: center;width: 55%;}
		.planFh:hover{
			border:solid 2px black;
			transition: .5s;
			cursor: pointer;
		}
			.planInfoTxt{
				width: 85%; height: calc(90% - 50px);
				align-content: flex-start;
				align-items: flex-start;
				flex-wrap: wrap;
			}
				.planName{
					width: 100%; text-align: left;
					font-weight: 700;
					font-size: 1.7rem;
				}
				.parrName{
					width: 100%;margin-top: 5px;
					line-height: 160%;
				}
			.subscribeBtnFh{
				width: 90%; height: 50px;
			}
				.subscribeBtn{
					height: 100%;
					background: black !important;
					color: white !important;
				}
</style>