<template>
<div class="contenedorPrincipalInterno cc">
	<div class="contPrinIntSn bc">

		<div
		
		 class="tableOrdersFh cc">
			<div class="tableTitFh ccc">
				<h2 class="titTable">Solicitudes</h2>
				Los siguientes pedidos estan en espera <br>de ser confirmados
			</div>

			<div 
			v-for="(item, i) in newOrders "
    	:key="i"
			class="orderFh cc">
				<div class="imageOrderCont cc">
					<img
					class="imageOrder"
					:src="item.image"
					/>
				</div>
				<div class="infoOrderCont bc">

					<h3 class="titOrder" v-html="item.order_detail"></h3>
					<p class="infoTxtOrder">
						<b class="infoStrong">Cliente: </b>
						{{item.nameClient}}
						<b class="infoStrong">Telefono: </b>
						{{item.telClient}}<br><br>
					</p>


					<div class="infoButtonsTbOrdr sc">
						<v-btn
						@click="aceptOrder(item.id)" 
						class="infoBtnTb btn-blk">
							Aceptar
						</v-btn>
						<v-btn
						@click="orderDetail(item.id)" 
						outlined class="infoBtnTb btn-red">
							Ver detalles
						</v-btn>
					</div>

				</div>

			</div>
		</div>





		<!--PEDIDOS ACEPTADOS-->
		<div
		 class="tableOrdersFh cc">
			<div class="tableTitFh ccc">
				<h2 class="titTable">Trabajando</h2>
				Los siguientes pedidos estan en espera <br>de ser confirmados
			</div>

			<div 
			v-for="(item, i) in workOrders "
    	:key="i"
			class="orderFh cc">
				<div class="imageOrderCont cc">
					<img
					class="imageOrder"
					:src="item.image"
					/>
				</div>
				<div class="infoOrderCont bc">

					<h3 class="titOrder" v-html="item.order_detail"></h3>
					<p class="infoTxtOrder">
						<b class="infoStrong">Cliente: </b>
						{{item.telClient}}
						<b class="infoStrong">Telefono: </b>
						{{item.telClient}}<br><br>


					<div class="infoButtonsTbOrdr sc">
						<v-switch
							@change="deliveryOrder(item.id)"
							:loading="0"
							inset
							 value
          		:input-value="false"
							color="red"
				      :v-model="false"
				      label="Etregado al repartidor"
				    >
				    	
				    </v-switch>

					</div>

				</div>

			</div>
		</div>
		<div class="bottomSpaceOrders"></div>
	</div>

	
</div>
</template>
<script>
	import router from '../router/index.js'
  export default {
    data () {
      return {
        switch1: false,
        newOrders:null,
        workOrders:null
      }
    },
    methods: {
    	//ACEPT ORDER
    	aceptOrder (idOrder){
    		const token = localStorage.getItem('tokenProvider');
    		const packagePost = new FormData();
    			packagePost.append('token',token);
					packagePost.append('idOrder',idOrder);

					$.ajax({
	    			data:  packagePost, 
	          url:   ''+serverName+''+'/aceptarOrden.php', 
	          type:  'post', 
		          contentType: false,
		          processData: false,

	          success:  function (res) {
	          	
	          }

    			})

    	},
    	//DELIVERY ORDER
    	deliveryOrder(idOrder){
    		const token = localStorage.getItem('tokenProvider');
    		const packagePost = new FormData();
    			packagePost.append('token',token);
					packagePost.append('idOrder',idOrder);

					$.ajax({
	    			data:  packagePost, 
	          url:   ''+serverName+''+'/deliveryOrden.php', 
	          type:  'post', 
		          contentType: false,
		          processData: false,

	          success:  function (res) {
	          	//alert(res)
	          }

    			})
    	},
    	//DETAILS ORDER
    	orderDetail (idOrder){
    		router.push({ 
        	name: 'Provider detail order',
        	params: { id: idOrder }
      	});
    	}
    },
    mounted(){
/**/
const vm = this;
const token = localStorage.getItem('tokenProvider');

//FIREBASE PUSH NOTIFICATIONS
const messaging = firebase.messaging();

messaging.requestPermission()
.then(function() {
  console.log('Se aceptaron las notificaciones.');
  console.log('Se esta enviando el token');
  return messaging.getToken();
})
.then(function(tokenPush) {
  const parametros ={ 
    'tokenPush':tokenPush,
    'token':token,
    'userType':'establecimientos',
  };
  $.ajax({
     data:  parametros, 
         url:   ''+serverName+''+'/recbirTokenPro.php', 
         type:  'post', 
         beforeSend: function () { },
         success:  function (res) {
         	//alert(res)
         }
  })
})
.catch(function(err) { // Happen if user deney permission
  console.log('No hay permisos.', err);
});

messaging.onMessage(function(payload){
  console.log('onMessage',payload);
})

/**/
/********************************************/
    	

    	//CARGAR NUEVOS PEDIDOS
    	axios
      .get(''+serverName+''+'/showOrders.php?token='+token)
      .then(response => {
        vm.newOrders = response.data;  
        console.log(response.data)
      })

      setInterval(function(){ 
      	axios
		      .get(''+serverName+''+'/showOrders.php?token='+token)
		      .then(response => {
		        vm.newOrders = response.data;  
		      })
      }, 3000);
/**************************************************************/



      //PEDIDOS ACEPTADOS
    	axios
      .get(''+serverName+''+'/showWorkOrders.php?token='+token)
      .then(response => {
        vm.workOrders = response.data;  
      })

      setInterval(function(){ 
      	axios
		      .get(''+serverName+''+'/showWorkOrders.php?token='+token)
		      .then(response => {
		        vm.workOrders = response.data;  
		      })
      }, 3000);


    }
  }
</script>
<style>
.contenedorPrincipalInterno{
	width: 100%; height: auto;
	margin-top: -25px;
	z-index: 1000;
	position: absolute;top: 40vh;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.bottomSpaceOrders{
		width: 100%; height: 60px;
	}
	.contPrinIntSn{
		width: 90%; height: auto;
		background: white;
		box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
		border-radius: 15px;
		overflow: hidden;
		align-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.tableOrdersFh{
		width: 45%; height: 100%;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: flex-start;
	}
		.tableTitFh{
			width: 100%; height:120px;
			text-align: center;
			
		}
			.titTable{
				font-size: 18px;
				font-weight: 700px;
				margin-bottom: 5px;
			}


		.orderFh{
			width: 90%; min-height: 200px;
			border-radius: 15px;
		}
		.orderFh:hover{
			box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
		}

			.imageOrderCont{
				width: 25%; height: 100%;
				align-content: center;
				align-items: center;
			}
			.infoOrderCont{
				width: 70%; height: 100%;
				align-content: center;
				align-items: center;
				flex-wrap: wrap;
			}
				.titOrder{width: 100%; font-size: 14px;text-align: left;}
				.infoTxtOrder{
					width: 100%; font-size: 12px;
					margin: 0 !important; padding: 0 !important;
					margin-top: 10px !important;
					line-height: 12px;
				}
					.infoStrong{font-size: 12px;}
				.imageOrder{
					width: 90px !important; 
					border-radius: 1500px;
				}



		/*BOTONES*/
		.infoButtonsTbOrdr{
			width: 100%; height: 40px;
			margin-top: 15px;
		}
			.infoBtnTb{height: 100%; }
				.btn-blk{
					background: black!important;
					color: white !important;
				}
				.btn-red{
					margin-left: 5px;
				}
</style>