*{
	text-decoration: none;list-style: none; margin: 0; 
	font-size: 13px; color: white;
}
html{scroll-behavior: smooth;}
body{position:absolute;top:0px;left:0px;right:0px;bottom:0px;}
/*********************************************************/
.white{color: white;}
/*********************************************************/
.csc{display: flex; justify-content: center; align-items: flex-start; flex-direction: column;}
.es{display: flex; justify-content: flex-end; align-items: flex-start;}
.ecc{display: flex; justify-content: center; align-items: flex-end; flex-direction: column;}
.cc{display: flex; justify-content: center; align-items: center;}
.ec{display: flex; justify-content: flex-end; align-items: center;}
.ce{display: flex; justify-content: center; align-items: flex-end;}
.sc{display: flex; justify-content: flex-start; align-items: center; }
.ac{display: flex; justify-content: space-around; align-items: center; }
.bc{display: flex; justify-content: space-between; align-items: center; }
.ecc{display: flex; justify-content: flex-end; align-items: center; flex-direction: column;}
.ccc{display: flex; justify-content: center; align-items: center; flex-direction: column;}
.scc{display: flex; justify-content: flex-start; align-items: center; flex-direction: column;}
.ssc{display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column;}
.csc{display: flex; justify-content: center; align-items: flex-start; flex-direction: column;}
.eee{display: flex; justify-content: center; align-items: flex-end; flex-direction: column;}
.ccw{display: flex; justify-content: center; align-items: center; flex-wrap: wrap; overflow-x: hidden; overflow-y: auto; align-content: center;}
/*********************/
